// Converts pixels and unitless values to rems.
// Rems are relational to the root element ($rem-base).
// It includes the fallback in pixels for IE8 & Opera Mini.

// Usage: to-rem(16), to-rem(16px) = 1rem.

to-rem(value)

  $rem-base = 16px

  if unit(value) == ''
    value = value*1px

  font-size: value
  font-size: unit(value/$rem-base, rem)