/*------------------------------------------------------------------
*
* MIXINS
*
------------------------------------------------------------------*/

//- No select
//- Disable selecting of an element.

user-select()
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
