/*------------------------------------------------------------------
*
* $MIXINS
*
------------------------------------------------------------------*/

//- Prevent text or element selection
//- Values: none | text | toggle | element | elements | all | inherit

user-select(arg)
  -webkit-user-select: arg
  -moz-user-select:    arg
  -ms-user-select:     arg
  user-select:         arg

//- Controlling native element styling

default-appearance(arg)
  -webkit-appearance: arg
  -moz-appearance:    arg
  appearance:         arg

//- Prevent text overflow

no-text-overflow()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

//- Alert variants

alert-variant(alert-background, alert-text)
  background-color: alert-background
  color: alert-text

  a
    color: darken(alert-text, 20%)

    &:hover
      color: darken(alert-text, 40%)