/*--------------------------------------------------------------------
* VARIABLES
--------------------------------------------------------------------*/

/* Font Families */

$font-gotham = 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif
$font-sans-serif = 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-serif = Georgia, Times, serif
$font-monospaced = Menlo, Monaco, Consolas, monospace

/* Font Sizes */

$font-base = 1rem
$font-large = 1.125rem
$font-small = .875rem
$font-smaller = .625rem

/* Header Sizes */

$font-size-h1 = 2.5rem
$font-size-h2 = 2.125rem
$font-size-h3 = 1.75rem
$font-size-h4 = 1.375rem
$font-size-h5 = 1rem
$font-size-h6 = .875rem

/* Font Weights */

$font-weight-bold = 800

/* Line Heights */

$line-height-base = 1.5
$line-height-headings = 1.3
