/*--------------------------------------------------------------------
*
* VARIABLES
*
--------------------------------------------------------------------*/

//- Whitespace
$space = 1.875rem            // 30px
$ui-padding = .9375rem      // 15px

//- Font Families

$font-gotham = 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif
$font-sentinel = 'Sentinel SSm A', 'Sentinel SSm B', Georgia, Times, serif
$font-monospaced = Menlo, Monaco, Consolas, monospace

//- Font Sizes

$font-base = 1rem           // 16px
$font-large = 1.375rem      // 22px
$font-small = .75rem        // 12px
$font-smaller = .625rem     // 10px

///- Heading Sizes

$font-h1 = 2.5rem           // 40px
$font-h2 = 2.125rem         // 36px
$font-h3 = 1.75rem          // 32px
$font-h4 = 1.375rem         // 28px
$font-h5 = 1rem             // 16px
$font-h6 = .875rem          // 14px

$mobile-font-h1 = 2rem      // 36px
$mobile-font-h2 = 1.875rem  // 30px
$mobile-font-h3 = 1.5rem    // 24px
$mobile-font-h4 = 1.125rem  // 18px
$mobile-font-h5 = .875rem   // 14px
$mobile-font-h6 = .875rem   // 14px

//- Font Weights

$font-weight-light = 300
$font-weight-regular = 400
$font-weight-medium = 500
$font-weight-bold = 800

//- Line Heights

$line-height-base = 1.5
$line-height-heading = 1.25

//- Borders

$ui-border = 1px solid $gray-lighter

//- Responsive breakpoints

$breakpoint-smartphone = 480px
$breakpoint-tablet = 768px
$breakpoint-desktop = 1024px
$breakpoint-desktop-wide = 1200px