/*--------------------------------------------------------------------
*
* $COLORS
*
--------------------------------------------------------------------*/

//- Blues

$blue-saturated-darker ?= hsl(195, 100%, 5%)
$blue-saturated-dark ?= hsl(195, 100%, 10%)
$blue-saturated ?= hsl(195, 100%, 14%)
$blue-saturated-light ?= hsl(195,46%, 22%)
$blue-saturated-lighter ?= hsl(195,46%, 42%)

$blue ?= hsl(195, 100%, 46%)
$blue-light ?= hsl(195, 100%, 70%)
$blue-lighter ?= hsl(195, 100%, 95%)

//- Monochromatic

$gray-darker ?= hsl(194, 7%, 16%)
$gray-dark ?= hsl(194, 5%, 33%)
$gray ?= hsl(194, 5%, 54%)
$gray-light ?= hsl(194, 9%, 74%)
$gray-lighter ?= hsl(194,9%, 92%)

//- Pinks

$pink ?= hsl(326, 94%, 48%)
$pink-light ?= hsl(344, 97%, 88%)
$pink-lighter ?= hsl(326, 94%, 96%)

//- Greens

$green ?= hsl(142, 47%, 50%)
$green-light ?= hsl(142, 48%, 85%)
$green-lighter ?= hsl(142, 48%, 94%)

//- Reds

$red ?= hsl(342, 100%, 45%)
$red-light ?= hsl(342, 100%, 89%)
$red-lighter ?= hsl(342, 100%, 95%)

//- Orange

$orange ?= hsl(34, 98%, 48%)
$orange-light ?= hsl(34, 98%, 74%)
$orange-lighter ?= hsl(34, 98%, 92%)
