/*--------------------------------------------------------------------
*
* $VARIABLES
*
--------------------------------------------------------------------*/

//- Whitespace

$space                   ?= 30px   
$ui-padding-extra-spaced ?= $space       
$ui-padding-spaced       ?= $space/2
$ui-padding-default      ?= $space/3
$ui-padding-narrow       ?= $space/6

//- Font Families

$font-gotham-rounded = Gotham Rounded A, Gotham Rounded B, Helvetica, Arial, sans-serif
$font-gotham-narrow  = Gotham Narrow SSm A, Gotham Narrow SSm B, Helvetica Neue, Helvetica, Arial, sans-serif
$font-sentinel       = Sentinel SSm A, Sentinel SSm B, Georgia, Times, serif
$font-proxima        = 'proxima-nova', helvetica neue, helvetica, arial, sans-serif
$font-aktiv          = 'aktiv-grotesk', helvetica neue, helvetica, arial, sans-serif
$font-monospaced     = Menlo, Monaco, Consolas, monospace

//- Font Sizes

$font-base    ?= 1rem
$font-large   ?= 1.4em
$font-medium  ?= 1.2em
$font-small   ?= .8em
$font-smaller ?= .6em

//- Heading Sizes

$font-h1 ?= 2.5em
$font-h2 ?= 2.1em
$font-h3 ?= 1.8em
$font-h4 ?= 1.5em
$font-h5 ?= 1.2em
$font-h6 ?= 1em

$mobile-font-h1 ?= 2.2em
$mobile-font-h2 ?= 1.9em
$mobile-font-h3 ?= 1.6em
$mobile-font-h4 ?= 1.3em
$mobile-font-h5 ?= 1em
$mobile-font-h6 ?= .9em

//- Font Weights

$font-weight-light   ?= 300
$font-weight-regular ?= 400
$font-weight-medium  ?= 500
$font-weight-bold    ?= 800

//- Line Heights

$line-height-base    ?= 1.5
$line-height-heading ?= 1.25

//- Borders

$ui-border ?= 1px solid $gray-light

//- Responsive breakpoints

$breakpoint-smartphone   ?= 480px
$breakpoint-mid-mobile   ?= 600px
$breakpoint-tablet       ?= 768px
$breakpoint-desktop      ?= 900px
$breakpoint-desktop-wide ?= 1200px
