/*--------------------------------------------------------------------
*
* $VARIABLES
*
--------------------------------------------------------------------*/

//- Whitespace

$space                   ?= 30px   
$ui-padding-extra-spaced ?= $space       
$ui-padding-spaced       ?= $space/2
$ui-padding-default      ?= $space/3
$ui-padding-narrow       ?= $space/6

//- Font Families

$font-gotham-rounded = Gotham Rounded A, Gotham Rounded B, Helvetica, Arial, sans-serif
$font-gotham-narrow  = Gotham Narrow SSm A, Gotham Narrow SSm B, Helvetica Neue, Helvetica Arial, sans-serif
$font-sentinel       = Sentinel SSm A, Sentinel SSm B, Georgia, Times, serif
$font-monospaced     = Menlo, Monaco, Consolas, monospace

//- Font Sizes

$font-base    ?= 16px           
$font-large   ?= 22px     
$font-medium  ?= 14px
$font-small   ?= 12px
$font-smaller ?= 10px

//- Heading Sizes

$font-h1 ?= 42px
$font-h2 ?= 36px
$font-h3 ?= 30px
$font-h4 ?= 24px
$font-h5 ?= 18px
$font-h6 ?= 16px

$mobile-font-h1 ?= 38px
$mobile-font-h2 ?= 32px
$mobile-font-h3 ?= 26px
$mobile-font-h4 ?= 20px
$mobile-font-h5 ?= 16px
$mobile-font-h6 ?= 14px

//- Font Weights

$font-weight-light   ?= 300
$font-weight-regular ?= 400
$font-weight-medium  ?= 500
$font-weight-bold    ?= 800

//- Line Heights

$line-height-base    ?= 1.5
$line-height-heading ?= 1.25

//- Borders

$ui-border ?= 1px solid $gray-lighter

//- Grid

$grid-width-full    ?= 100%
$grid-width-desktop ?= 70%
$grid-width-tablet  ?= 85%
$grid-width-mobile  ?= 90%

//- Responsive breakpoints

$breakpoint-smartphone   ?= 480px
$breakpoint-mid-mobile   ?= 600px
$breakpoint-tablet       ?= 768px
$breakpoint-desktop      ?= 900px
$breakpoint-desktop-wide ?= 1200px