@import '../../lib/style/index.styl'

header
  padding: 3.125em 0
  border-bottom: 1px solid $gray-lighter
  text-align: center

  h1
    font-size: 3.5em
    margin: 0

  p
    margin: .5em 0 0 0
    font-size: 1.5em

  .button
    margin-top: 3.125em

h3 a
  float: right
  display: inline-block
  margin: 0 5px
  font-size: .6em
  text-transform: none

code
  display: inline-block
  font-family: monospace
  font-style: normal
  font-size: $font-size-small
  color: $gray
  margin-right: 5px
  border: 1px solid $gray-lighter
  border-radius: 3px
  padding: 0 5px
  background: lighten($gray-lighter, 50%)

.container
  margin: 0 auto 100px

.cf:before,
.cf:after
  content: " "
  display: table

.cf:after
  clear: both

.content section
  padding-bottom: 30px
  border-bottom: 1px solid $gray-lighter

  &:last-of-type
    border: none

/* Colors */

.colors

  ul 
    font-size: .7em
    text-transform: uppercase
    margin-bottom: 10px

  .color
    height: 60px
    width: 100%

  .blue1
    background: $blue-saturated-darker

  .blue2
    background: $blue-saturated-dark

  .blue3
    background: $blue-saturated

  .blue4
    background: $blue-saturated-light

  .blue5
    background: $blue-saturated-lighter

  .blue6
    background: $blue

  .blue7
    background: $blue-light

  .blue8
    background: $blue-lighter

  .red1
    background: $red

  .red2
    background: $red-light

  .red3
    background: $red-lighter

  .orange1
    background: $orange

  .orange2
    background: $orange-light

  .orange3
    background: $orange-lighter

  .pink1
    background: $pink

  .pink2
    background: $pink-light

  .pink3
    background: $pink-lighter

  .green1
    background: $green

  .green2
    background: $green-light

  .green3
    background: $green-lighter

  .gray1
    background: $gray-darker

  .gray2
    background: $gray-dark

  .gray3
    background: $gray

  .gray4
    background: $gray-light

  .gray5
    background: $gray-lighter

/* Typography */

.typography

  .samples
    margin: 20px 0
    background: $gray-lighter
    border-radius: 3px
    padding: 30px

    h1, h2, h3, h4, p
      margin: 0 0 10px 0

    p.small
      margin: 0
      font-size: $font-size-small

/* Buttons */

.buttons

  .cf
    margin-bottom: 10px

  .button, button
    margin-right: 10px

  .button-group
    .button, button
      margin-right: 0

    &.outlined
      display: block

/* Messages */

.message
  margin-bottom: 10px

  &.above, &.below, &.left, &.right
    margin-bottom: 20px

/* Media */

.media div
  margin-bottom: 20px

figure
  float: left
  margin-right: 10px

.media-wrap figure
  margin: 0

/* Progress */

.progress
  margin-bottom: 10px

@media screen and (min-width: 768px)

  .container
    width: 60%

  .colors 
    li
      width: 10%

      &:not(:first-child)
        margin-left: 20px

@media screen and (max-width: 767px)

  .container
    width: 90%

  .colors li
    width: 100%
    margin: 0 0 10px 0