body {
  font: 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #565656;
  background: #fff;
}
strong {
  font-weight: 800;
}
em {
  font-style: italic;
}
abbr {
  color: #2d2d2d;
  border-bottom: 1px dotted #878787;
}
small {
  font-size: 12px;
}
blockquote {
  margin: 20px 0;
  padding: 15px 20px;
  border-left: 5px solid #878787;
  background: #eee;
}
blockquote p {
  margin: 0 0 10px 0;
  font-size: 14px;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote small {
  font-size: 12px;
  color: #878787;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.blue {
  border-left: 5px solid #b3eaff;
  background: #f2fbfe;
  color: #12acef;
}
blockquote.blue small {
  color: #b3eaff;
}
ul,
ol {
  margin: 0 0 20px 20px;
  padding: 0;
}
ul li ul,
ol li ul,
ul li ol,
ol li ol {
  margin-bottom: 0;
}
ul li ul li,
ol li ul li,
ul li ol li,
ol li ol li {
  list-style-type: circle;
}
ul li {
  list-style-type: disc;
}
ul.unstyled {
  margin: 0;
}
ul.unstyled li {
  display: inline-block;
  list-style-type: none;
}
ol li {
  list-style-type: decimal;
}
button {
  border: none;
}
.button {
  line-height: 35px;
}
.button,
button {
  display: inline-block;
  border-radius: 3px;
  padding: 0 15px;
  height: 35px;
  background: #eee;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  color: #878787;
  text-overflow: ellipsis;
}
.button:hover:not(:disabled),
button:hover:not(:disabled) {
  color: #565656;
  background: #d6d6d6;
  transition: all 0.3s ease-in;
}
.button:disabled,
button:disabled {
  cursor: not-allowed;
  color: #b7b7b7;
}
.button.small,
button.small {
  height: 25px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 25px;
}
.button.large,
button.large {
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  font-size: 16px;
}
.button.primary,
button.primary,
.button.secondary,
button.secondary,
.button.primary:hover,
button.primary:hover,
.button.secondary:hover,
button.secondary:hover {
  color: #fff;
}
.button.primary,
button.primary {
  background: #ec008c;
}
.button.primary:hover:not(:disabled),
button.primary:hover:not(:disabled) {
  background: #d4007e;
}
.button.primary:disabled,
button.primary:disabled {
  background: #f8bee0;
}
.button.secondary,
button.secondary {
  background: #12acef;
}
.button.secondary:disabled,
button.secondary:disabled {
  background: #b3eaff;
}
.button.secondary:hover:not(:disabled),
button.secondary:hover:not(:disabled) {
  background: #0f9bd9;
}
.button-group .button,
.button-group button {
  border-radius: 0;
  margin-left: -1px;
}
.button-group .button:first-child:only-child,
.button-group button:first-child:only-child {
  border-radius: 3px;
}
.button-group .button:first-child,
.button-group button:first-child {
  border-radius: 3px 0 0 3px;
}
.button-group .button:last-child,
.button-group button:last-child {
  border-radius: 0 3px 3px 0;
}
.button-group.outlined {
  display: inline-block;
  border-radius: 3px;
}
.button-group.outlined button,
.button-group.outlined .button {
  border: 1px solid #c3c3c3;
}
.button-group.outlined.primary button,
.button-group.outlined.primary .button {
  background: #fce8f1;
  border: 1px solid #f8bee0;
  color: #ec008c;
}
.button-group.outlined.primary button:hover,
.button-group.outlined.primary .button:hover {
  background: #fbd8ec;
}
.button-group.outlined.secondary button,
.button-group.outlined.secondary .button {
  background: #f2fbfe;
  border: 1px solid #b3eaff;
  color: #12acef;
}
.button-group.outlined.secondary button:hover,
.button-group.outlined.secondary .button:hover {
  background: #d1f2ff;
}
input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=date],
input[type=url],
input[type=file],
textarea {
  margin-bottom: 20px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=date],
input[type=url],
input[type=file],
textarea {
  display: block;
  border-radius: 3px;
  border: 1px solid #eee;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=date]:focus,
input[type=url]:focus,
input[type=file]:focus,
textarea:focus {
  outline: none;
  border: 1px solid #b3eaff;
  box-shadow: 0 0 5px #b3eaff;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}
input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=date],
input[type=url] {
  height: 30px;
  padding: 5px 10px;
}
textarea {
  padding: 10px;
  resize: none;
}
input[type=file] {
  padding: 15px;
  background: #fafafa;
  font-size: 12px;
  color: #878787;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 12px;
}
header {
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}
a {
  color: #12acef;
  text-decoration: none;
}
a:hover {
  color: #0d8ac1;
}
h1,
h2 {
  line-height: 26px;
}
h3,
h4 {
  line-height: 18px;
}
h1,
h2,
h3 {
  color: #000;
}
h1 {
  font-size: 30px;
}
h2 {
  margin-bottom: 40px;
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #878787;
}
h3 a {
  float: right;
  display: inline-block;
  margin: 0 5px;
  font-size: 0.6em;
  text-transform: none;
}
.container {
  margin: 0 auto 100px;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.content section {
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.content section:last-of-type {
  border: none;
}
/* Colors */
.colors ul {
  color: #878787;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.colors .color {
  height: 60px;
  width: 100%;
}
.colors .blue1 {
  background: #0b1316;
}
.colors .blue2 {
  background: #0f2034;
}
.colors .blue3 {
  background: #192a47;
}
.colors .blue4 {
  background: #34465a;
}
.colors .blue5 {
  background: #6c7f95;
}
.colors .blue6 {
  background: #12acef;
}
.colors .blue7 {
  background: #b3eaff;
}
.colors .blue8 {
  background: #f2fbfe;
}
.colors .red1 {
  background: #de0a32;
}
.colors .orange1 {
  background: #f18902;
}
.colors .pink1 {
  background: #ec008c;
}
.colors .pink2 {
  background: #f8bee0;
}
.colors .pink3 {
  background: #fce8f1;
}
.colors .green1 {
  background: #43bb6e;
}
.colors .green2 {
  background: #b0eac5;
}
.colors .green3 {
  background: #effbf3;
}
.colors .gray1 {
  background: #2d2d2d;
}
.colors .gray2 {
  background: #565656;
}
.colors .gray3 {
  background: #878787;
}
.colors .gray4 {
  background: #eee;
}
/* Typography */
.typography .samples {
  margin: 20px 0;
  background: #eee;
  border-radius: 3px;
  padding: 30px;
}
.typography .samples h1,
.typography .samples h2,
.typography .samples h3,
.typography .samples h4,
.typography .samples p {
  margin: 0 0 10px 0;
}
.typography .samples p.small {
  margin: 0;
  font-size: 12px;
}
/* Buttons */
.buttons .cf {
  margin-bottom: 10px;
}
.buttons .button,
.buttons button {
  margin-right: 10px;
}
.buttons .button-group .button,
.buttons .button-group button {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .container {
    width: 60%;
  }
  .colors li {
    width: 10%;
  }
  .colors li:not(:first-child) {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
  .colors li {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
