@import '../../lib/style/main.styl'

header
  padding: 3.125em 0
  border-bottom: $ui-border
  text-align: center

  h1
    font-size: 3.5em
    margin: 0

  p
    margin: .5em 0 0 0
    font-size: 1.5em

  .button
    margin-top: 3.125em

h3 a
  float: right
  display: inline-block
  margin: 10px 0
  font-size: .5rem
  text-transform: none

.container
  margin: 0 auto

.content section
  padding: 1.2em 0
  border-bottom: $ui-border

  &:last-of-type
    border: none

footer
  padding: 1.2em 0
  border-top: $ui-border
  text-align: center

  p
    margin: 0

/* Colors */

.colors

  ul 
    font-size: $font-smaller
    text-transform: uppercase
    margin-bottom: .625em
    color: $gray

    li
      border: 2px solid $gray-lighter

      span
        display: block
        padding: .8em

  .color
    height: 60px
    width: 100%

  .blue1
    background: $blue-saturated-darker

  .blue2
    background: $blue-saturated-dark

  .blue3
    background: $blue-saturated

  .blue4
    background: $blue-saturated-light

  .blue5
    background: $blue-saturated-lighter

  .blue6
    background: $blue

  .blue7
    background: $blue-light

  .blue8
    background: $blue-lighter

  .red1
    background: $red

  .red2
    background: $red-light

  .red3
    background: $red-lighter

  .orange1
    background: $orange

  .orange2
    background: $orange-light

  .orange3
    background: $orange-lighter

  .pink1
    background: $pink

  .pink2
    background: $pink-light

  .pink3
    background: $pink-lighter

  .green1
    background: $green

  .green2
    background: $green-light

  .green3
    background: $green-lighter

  .gray1
    background: $gray-darker

  .gray2
    background: $gray-dark

  .gray3
    background: $gray

  .gray4
    background: $gray-light

  .gray5
    background: $gray-lighter

/* Typography */

.typography
  
  .sample
    margin: 3em 0

    h1, h2, h3, h4, h5, h6, p
      margin: 0 0 1em 0

  .text li
    padding: .325em 0

/* Buttons */

.buttons

  .cf
    margin-bottom: 10px

  .button, button
    margin-right: 10px

  .button-group
    .button, button
      margin-right: 0

    &.button-group-outlined
      display: block

/* Messages */

.message
  margin-bottom: 10px

  &.above, &.below, &.left, &.right
    margin-bottom: 20px

/* Media */

.media div
  margin-bottom: 20px

figure
  float: left
  margin-right: 10px

.media-wrapper figure
  margin: 0

/* Progress */

.progress
  margin-bottom: 10px


@media screen and (min-width: 768px)

  .colors 
    li
      width: 220px

      &:not(:last-child)
        margin-bottom: .625em
        margin-right: .625em

  .column
    float: left
    width: 33%

    &:not(:last-of-type)
      padding-right: 1.875

@media screen and (max-width: 767px)

  .container
    padding: 0 2em

  .colors li
    width: 100%
    margin: 0 0 10px 0

  .column
    float: none


