body {
  font: 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #565656;
  background: #fff;
}
strong {
  font-weight: 800;
}
em {
  font-style: italic;
}
abbr {
  color: #2d2d2d;
  border-bottom: 1px dotted #878787;
}
small {
  font-size: 12px;
}
blockquote {
  margin: 20px 0;
  padding: 15px 20px;
  border-left: 5px solid #878787;
  background: #eee;
}
blockquote p {
  margin: 0 0 10px 0;
  font-size: 14px;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote small {
  font-size: 12px;
  color: #878787;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.blue {
  border-left: 5px solid #b3eaff;
  background: #f2fbfe;
  color: #12acef;
}
blockquote.blue small {
  color: #b3eaff;
}
ul,
ol {
  margin: 0 0 20px 20px;
  padding: 0;
}
ul li ul,
ol li ul,
ul li ol,
ol li ol {
  margin-bottom: 0;
}
ul li ul li,
ol li ul li,
ul li ol li,
ol li ol li {
  list-style-type: circle;
}
ul li {
  list-style-type: disc;
}
ul.unstyled {
  margin: 0;
}
ul.unstyled li {
  display: inline-block;
  list-style-type: none;
}
ol li {
  list-style-type: decimal;
}
.button,
button {
  display: inline-block;
  border-radius: 3px;
  padding: 0 15px;
  height: 35px;
  background: #eee;
  font-size: 14px;
  font-weight: 800;
  line-height: 35px;
  text-align: center;
  color: #878787;
  text-overflow: ellipsis;
}
.button:hover,
button:hover {
  color: #565656;
  background: #d6d6d6;
  transition: all 0.3s ease-in;
}
.button.small,
button.small {
  height: 25px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 25px;
}
.button.large,
button.large {
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  font-size: 16px;
}
header {
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}
a {
  color: #12acef;
  text-decoration: none;
}
a:hover {
  color: #0d8ac1;
}
h1,
h2 {
  line-height: 26px;
}
h3,
h4 {
  line-height: 18px;
}
h1,
h2,
h3 {
  color: #000;
}
h1 {
  font-size: 30px;
}
h2 {
  margin-bottom: 40px;
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #878787;
}
h3 a {
  float: right;
  display: inline-block;
  margin: 0 5px;
  font-size: 0.6em;
  text-transform: none;
}
.container {
  margin: 0 auto 100px;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.content section {
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.content section:last-of-type {
  border: none;
}
/* Colors */
.colors ul {
  color: #878787;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.colors .color {
  height: 60px;
  width: 100%;
}
.colors .blue1 {
  background: #0b1316;
}
.colors .blue2 {
  background: #0f2034;
}
.colors .blue3 {
  background: #192a47;
}
.colors .blue4 {
  background: #34465a;
}
.colors .blue5 {
  background: #6c7f95;
}
.colors .blue6 {
  background: #12acef;
}
.colors .blue7 {
  background: #b3eaff;
}
.colors .blue8 {
  background: #f2fbfe;
}
.colors .red1 {
  background: #de0a32;
}
.colors .orange1 {
  background: #f18902;
}
.colors .pink1 {
  background: #ec008c;
}
.colors .pink2 {
  background: #f8bee0;
}
.colors .pink3 {
  background: #fce8f1;
}
.colors .green1 {
  background: #43bb6e;
}
.colors .green2 {
  background: #b0eac5;
}
.colors .green3 {
  background: #effbf3;
}
.colors .gray1 {
  background: #2d2d2d;
}
.colors .gray2 {
  background: #565656;
}
.colors .gray3 {
  background: #878787;
}
.colors .gray4 {
  background: #eee;
}
/* Typography */
.typography .samples {
  margin: 20px 0;
  background: #eee;
  border-radius: 3px;
  padding: 30px;
}
.typography .samples h1,
.typography .samples h2,
.typography .samples h3,
.typography .samples h4,
.typography .samples p {
  margin: 0 0 10px 0;
}
.typography .samples p.small {
  margin: 0;
  font-size: 12px;
}
/* Buttons */
.buttons .button {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 60%;
  }
  .colors li {
    width: 10%;
  }
  .colors li:not(:first-child) {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
  .colors li {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
