body {
  font: 1em/1.2em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #555;
}

header {
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}

h1, h2 {
  color: black;
}

h1 {
  font-size: 2.5em;
}

h2 {
  margin-bottom: 40px;
  font-size: 2.1em;
}

h3, h4 {
  color: #555;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.1em;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  list-style-type: none;
}

/* Colors */

.colors {
  font-size: .7em;
}

.colors ul {
  margin-bottom: 10px;
}

.colors p {
  margin: 0;
}

.colors .color {
  height: 60px;
  width: 100%;
}

.colors .blue5 {
  background: #0B1316;
}

.colors .blue4 {
  background: #0f2034;
}

.colors .blue3 {
  background: #192a47;
}

.colors .blue2 {
  background: #34465a;
}

.colors .blue1 {
  background: #6c7f95;
}

.colors .accentPrimary {
  background: #ec008c;
}

.colors .accentSecondary {
  background: #12acef;
}

.colors .accentSecondaryLightened {
  background: #F2FBFE;
}

.colors .grey1 {
  background: #2d2d2d;
}

.colors .grey2 {
  background: #565656;
}

.colors .grey3 {
  background: #878787;
}

.colors .grey4 {
  background: #eee;
}

@media screen and (min-width: 768px) {

  .container {
    width: 60%;
  }

  .colors li {
    width: 15%;
  }

  .colors li:not(:first-child) {
    margin-left: 20px;
  }

}

@media screen and (max-width: 767px) {

  .container {
    width: 90%;
  }

  .colors li {
    width: 100%;
    margin: 0 0 10px 0;
  }

}