section.avatars

  h3 Avatars

  h4 Rounded

  a.avatar-wrapper.large
    img(src="img/dummy-av.png", class="avatar large rounded")
  a.avatar-wrapper.medium
    img(src="img/dummy-av.png", class="avatar medium rounded")
  a.avatar-wrapper.small
    img(src="img/dummy-av.png", class="avatar small rounded")

  h4 Small radius

  img(src="img/dummy-av.png", class="avatar large radius")
  img(src="img/dummy-av.png", class="avatar medium radius")
  img(src="img/dummy-av.png", class="avatar small radius")
  
