section

  h2 Avatars
  p Avatars come in three sizes&mdash;large (<code>100&times;100</code>) , medium (<code>50&times;50</code>) and small (<code>25&times;25</code>). Placeholders thanks to <a href='http://placekitten.com/'>Place Kitten</a>. Because we love kittens.

  h3 Rounded avatars
  p For rounded avatars use <code>avatar-rounded</code> class.

  img(src='http://placekitten.com/g/300/300', class='avatar avatar-large avatar-rounded')
  img(src='http://placekitten.com/g/300/300', class='avatar avatar-medium avatar-rounded')
  img(src='http://placekitten.com/g/300/300', class='avatar avatar-small avatar-rounded')

  :markdown
    ```html
      <img src='http://placekitten.com/g/300/300' class='avatar avatar-large avatar-rounded' />
      <img src='http://placekitten.com/g/300/300' class='avatar avatar-medium avatar-rounded' />
      <img src='http://placekitten.com/g/300/300' class='avatar avatar-small avatar-rounded' />
    ```

  h3 Avatars with radius
  p For avatars with <code>border radius</code> use <code>avatar-radius</code> class.

  img(src='http://placekitten.com/g/300/300', class='avatar avatar-large avatar-radius')
  img(src='http://placekitten.com/g/300/300', class='avatar avatar-medium avatar-radius')
  img(src='http://placekitten.com/g/300/300', class='avatar avatar-small avatar-radius')

  :markdown
    ```html
      <img src='http://placekitten.com/g/300/300' class='avatar avatar-large avatar-radius' />
      <img src='http://placekitten.com/g/300/300' class='avatar avatar-medium avatar-radius' />
      <img src='http://placekitten.com/g/300/300' class='avatar avatar-small avatar-radius' />
    ```