section.avatars

  h3 Avatars
  p 
    | Avatars come in three sizes &mdash; large (100&times;100) , medium (50&times;50) and small (25&times;25). 

  h4 Avatars inside links
  p 
    | They can be wrapped with a link with a 
    code.inline-light avatar-wrapper
    |  class.

  a.avatar-wrapper.avatar-large
    img(src='public/img/dummy-av.png', class='avatar avatar-large avatar-rounded')

  h4 Rounded avatars

  img(src='public/img/dummy-av.png', class='avatar avatar-large avatar-rounded')
  img(src='public/img/dummy-av.png', class='avatar avatar-medium avatar-rounded')
  img(src='public/img/dummy-av.png', class='avatar avatar-small avatar-rounded')

  h4 Avatars with radius

  img(src='public/img/dummy-av.png', class='avatar avatar-large avatar-radius')
  img(src='public/img/dummy-av.png', class='avatar avatar-medium avatar-radius')
  img(src='public/img/dummy-av.png', class='avatar avatar-small avatar-radius')

