section.buttons

  h3 Buttons

  p 
    | Buttons come in three sizes &ndash; 
    strong large
    | , 
    strong regular 
    | and 
    strong small
    | . In neutral and brand colors.

  h4 Button sizes and colors

  .cf
    a(href="", class="button large") Large Button
    a(href="", class="button") Button
    a(href="", class="button small") Small Button

  .cf
    a(href="", class="button large primary") Large Button
    a(href="", class="button primary") Button
    a(href="", class="button small primary") Small Button

  .cf
    a(href="", class="button large secondary") Large Button
    a(href="", class="button secondary") Button
    a(href="", class="button small secondary") Small Button

  h4 Disabled buttons
  p 
    | Being able to disable a button might come quite handy. Works only with button elcodeents that have 
    code disabled 
    | attribute.

  .cf
    button(disabled) Button
    button(class="primary", disabled) Button
    button(class="secondary", disabled) Button

  h4 Button groups
  p 
    | You can group buttons by using 
    code .button-group 
    | class. For outlined versions use 
    code .outlined 
    | class along with the color denotation &ndash; 
    code .primary 
    | or 
    code .secondary 
    | &ndash; if you would like to change the default appearance.


  .cf.button-group
    a(href="", class="button") Button
    a(href="", class="button") Button
    a(href="", class="button") Button

  .cf.button-group.outlined
    a(href="", class="button") Button
    a(href="", class="button") Button
    a(href="", class="button") Button

  .cf.button-group.outlined.primary
    a(href="", class="button primary") Button
    a(href="", class="button primary") Button
    a(href="", class="button primary") Button
    a(href="", class="button primary") Button

  .cf.button-group.outlined.secondary
    a(href="", class="button primary") Button
    a(href="", class="button primary") Button
    a(href="", class="button primary") Button
    a(href="", class="button primary") Button