section.buttons

  h3 Buttons
  p 
    | To create a button add 
    code.inline-light button
    |  class to  
    code.inline-light= '<a>'
    |  or 
    code.inline-light= '<button>'

  button.button Button
  a(href='', class='button') Button

  h4 Disabled buttons
  p
    | To disable buttons add 
    code.inline-light button-disabled
    |  class or for 
    code.inline-light= '<button>'
    |  elements feel free to use the 
    code.inline-light disabled
    |  attribute.

  .cf
    button(class='button', disabled) Button
    button(class='button button-primary', disabled) Button
    button(class='button button-secondary', disabled) Button

  h4 Buttons sizes
  p Buttons come in three different sizes &mdash; large, regular (no class) and small.

  .cf
    a(href='', class='button button-large') Large Button
    a(href='', class='button') Button
    a(href='', class='button button-small') Small Button

  h4 Button groups
  p 
    | Button grouping is available my adding 
    code.inline-light .button-group
    |  class. For additional outline include 
    code.inline-light .button-group-outlined
    |  class. For color variations of the buttons use &mdash; 
    code.inline-light .button-primary
    |  or 
    code.inline-light .button-secondary
    |  on the button element itself.

  .cf.button-group
    a(href='', class='button') Button
    a(href='', class='button') Button
    a(href='', class='button') Button

  .cf.button-group.button-group-outlined
    a(href='', class='button') Button
    a(href='', class='button') Button
    a(href='', class='button') Button

  .cf.button-group.button-group-outlined
    a(href='', class='button button-primary') Button
    a(href='', class='button button-primary') Button
    a(href='', class='button button-primary') Button
    a(href='', class='button button-primary') Button

  .cf.button-group.button-group-outlined
    a(href='', class='button button-secondary') Button
    a(href='', class='button button-secondary') Button
    a(href='', class='button button-secondary') Button
    a(href='', class='button button-secondary') Button