section.buttons

  h2 Buttons
  p Use <code>button</code> class for default button appearance with optional <code>button-primary</code> and <code>button-secondary</code> classes for customized color variants.

  button(class='button') Button
  button(class='button button-approve') Approval Button
  button(class='button button-warn') Warning Button
  button(class='button button-neutral') Neutral Button
  button(class='button button-outlined') Outlined Button

  :markdown
    ```html
      <a class='button'>Button</a>
      <a href='button button-approve'>Approval Button</a>
      <a href='button button-warn'>Warning Button</a>
      <a href='button button-neutral'>Neutral Button</a>
      <a href='button button-outlined'>Outlined Button</a>
    ```

  h3 Button sizes
  p Buttons come in three different sizes&mdash;large, regular and small. Use <code>button-large</code>, no class and <code>button-small</code> classes respectively.

  a(href='', class='button button-large') Large Button
  a(href='', class='button') Regular Button
  a(href='', class='button button-small') Small Button

  :markdown
    ```html
      <a class='button button-large'>Large Button</a>
      <a href='button'>Regular Button</a>
      <a href='button button-small'>Small Button</a>
    ```

  h3 Disabled buttons
  p For disabled (unclickable) apperance use <code>disabled</code> attribute for <code>button</code> elements and <code>button-disabled</code> class for links.

  button(class='button', disabled) Button
  button(class='button button-approve', disabled) Approval Button 
  a(class='button button-warn button-disabled') Warning Button
  button(class='button button-neutral', disabled) Neutral Button 
  button(class='button button-outlined', disabled) Outlined Button

  :markdown
    ```html
      <button class='button' disabled>Button</button>
      <button class='button button-approve' disabled>Approval Button</button>
      <a href='button button-warn button-disabled'>Warning Button</a>
      <button class='button button-neutral' disabled>Neutral Button</button>
      <button class='button button-outlined' disabled>Outlined Button</button>
    ```

  h3 Button groups
  p To create a button group place any number of button elements in <code>button-group</code> container.

  .button-group
    a(href='', class='button') Button
    a(href='', class='button') Button
    a(href='', class='button') Button

  .button-group
    a(href='', class='button button-neutral') Button
    a(href='', class='button button-neutral') Button
    a(href='', class='button button-neutral') Button

  .button-group
    a(href='', class='button button-outlined') Button
    a(href='', class='button button-outlined') Button
    a(href='', class='button button-outlined') Button