section

  h2 Code
  p Yeti.css includes basic styles for including code snippets in both inline and block manner.

  p This is an <code class='code-light'>light inline code</code> example. This an <code class='code-dark'>dark inline code</code> example.

  :markdown
    ```html
      <p>This is an <code class='code-light'>light inline code</code> example. This an <code class='code-dark'>dark inline code</code> example.
    ```

  :markdown
    ```html
      <pre>
        <code>
          ...
        </code>
      </pre>
    ```

  p For light and dark themes for syntax coloring refer to <a href='https://github.com/thefoxis/andlight'>&light</a> repository.