section.colors
  h3 
    | Colors
    a(href='../../assets/swatches/andyet.aco') Download Photoshop .ACO swatch

  h4 Blues
  ul.cf.list-unstyled.list-inline
    li
      .color.blue1
      span #001620 / $blue-saturated-darker
    li
      .color.blue2
      span #002531 / $blue-saturated-dark
    li
      .color.blue3
      span #003546 / $blue-saturated
    li
      .color.blue4
      span #1f4753 / $blue-saturated-light
    li
      .color.blue5
      span #438193 / $blue-saturated-lighter
  ul.cf.list-unstyled.list-inline
    li
      .color.blue6
      span #12ACEF / $blue
    li
      .color.blue7
      span #88d5f7 / $blue-light
    li
      .color.blue8
      span #e7f7fd / $blue-lighter

  h4 Monochromatic
  ul.cf.list-unstyled.list-inline
    li
      .color.gray1
      span #272b2d / $gray-darker
    li
      .color.gray2
      span #4d5659 / $gray-dark
    li
      .color.gray3
      span #828c8f / $gray
    li
      .color.gray4
      span #b7c0c3 / $gray-light
    li
      .color.gray5
      span #e6eaed / $gray-lighter

  h4 Pinks
  ul.cf.list-unstyled.list-inline
    li
      .color.pink1
      span #EC008C / $pink
    li
      .color.pink2
      span #fec1d1 / $pink-light
    li
      .color.pink3
      span #ffedf2 / $pink-lighter


  h4 Greens
  ul.cf.list-unstyled.list-inline
    li
      .color.green1
      span #43bb6e / $green
    li
      .color.green2
      span #c6ebd3 / $green-light
    li
      .color.green3
      span #e8f7ef / $green-lighter

  h4 Reds
  ul.cf.list-unstyled.list-inline
    li
      .color.red1
      span #e80044 / $red
    li
      .color.red2
      span #fdcad3 / $red-light
    li
      .color.red3
      span #fff7f8 / $red-lighter

  h4 Oranges
  ul.cf.list-unstyled.list-inline
    li
      .color.orange1
      span #f18902 / $orange
    li
      .color.orange2
      span #fec57b / $orange-light
    li
      .color.orange3
      span #ffeed7 / $orange-lighter

