section.colors
  h3 
    | Colors
    a(href="../swatches/andyet.aco") Download Photoshop .ACO swatch

  h4 Blues
  ul.cf.unstyled
    li
      .color.blue1
      span #0B1316
    li
      .color.blue2
      span #0F2034
    li
      .color.blue3
      span #192A47
    li
      .color.blue4
      span #34465A
    li
      .color.blue5
      span #6C7F95
  ul.cf.unstyled
    li
      .color.blue6
      span #12ACEF
    li
      .color.blue7
      span #88d5f7
    li
      .color.blue8
      span #e7f7fd

  h4 Monochromatic
  ul.cf.unstyled
    li
      .color.gray1
      span #2D2D2D
    li
      .color.gray2
      span #565656
    li
      .color.gray3
      span #878787
    li
      .color.gray4
      span #EEEEEE

  h4 Pinks
  ul.cf.unstyled
    li
      .color.pink1
      span #EC008C
    li
      .color.pink2
      span #fce8f1
    li
      .color.pink3
      span #fce8f1


  h4 Greens
  ul.cf.unstyled
    li
      .color.green1
      span #43bb6e
    li
      .color.green2
      span #c6ebd3
    li
      .color.green3
      span #f4fbf6

  h4 Reds
  ul.cf.unstyled
    li
      .color.red1
      span #de0a32
    li
      .color.red2
      span #fdcad3
    li
      .color.red3
      span #fff7f8

  h4 Other
  ul.cf.unstyled
    li
      .color.orange1
      span #f18902

