section.colors
  h3 
    | Colors
    a(href="../swatches/andyet.aco") Download Photoshop .ACO swatch

  h4 Blues
  ul.cf.unstyled
    li
      .color.blue1
      span #001620
    li
      .color.blue2
      span #002531
    li
      .color.blue3
      span #003546
    li
      .color.blue4
      span #1f4753
    li
      .color.blue5
      span #438193
  ul.cf.unstyled
    li
      .color.blue6
      span #12ACEF
    li
      .color.blue7
      span #88d5f7
    li
      .color.blue8
      span #e7f7fd

  h4 Monochromatic
  ul.cf.unstyled
    li
      .color.gray1
      span #272b2d
    li
      .color.gray2
      span #4d5659
    li
      .color.gray3
      span #828c8f
    li
      .color.gray4
      span #b7c0c3
    li
      .color.gray5
      span #e6eaed

  h4 Pinks
  ul.cf.unstyled
    li
      .color.pink1
      span #EC008C
    li
      .color.pink2
      span #fec1d1
    li
      .color.pink3
      span #ffedf2


  h4 Greens
  ul.cf.unstyled
    li
      .color.green1
      span #43bb6e
    li
      .color.green2
      span #c6ebd3
    li
      .color.green3
      span #e8f7ef

  h4 Reds
  ul.cf.unstyled
    li
      .color.red1
      span #e80044
    li
      .color.red2
      span #fdcad3
    li
      .color.red3
      span #fff7f8

  h4 Oranges
  ul.cf.unstyled
    li
      .color.orange1
      span #f18902
    li
      .color.orange2
      span #fec57b
    li
      .color.orange3
      span #ffeed7

