section.forms

  h3 Forms

  label(for="sample1") Username
  input(type="text", name="sample1", placeholder="This is an input")
  input(type="file")
  label Chat here
  textarea
    | This is a text area