section

  h4 Forms

  form
    fieldset
      legend Comment Form
      label(for='username') Username
      input(type='text', name='username', placeholder='Your username', class='form-input')

      label(for='comment') Write a comment
      textarea(name='comment', class='form-input', placeholder='This is a sample message') 

      button(type='submit', class='button button-primary') Send

  :markdown
    ```html
      <form>
        <fieldset>
          <legend>Comment Form</legend>

          <label for='username'>Username</label>
          <input type='text' name='username' placeholder='Your username' class='form-input' />

          <label for='comment'>Write a comment</label>
          <textarea name='comment' class='form-input' placeholder='This is a sample message'></textarea>

          <button type='submit' class='button button-primary'>Send</button>

        </fieldset>
      </form>
    ```

  h4 Required inputs
  input(type='text', placeholder='This input is required', required, class='form-input')

  h4 Disabled inputs
  p  
    | To disable a form element add 
    code.inline-light disabled
    |  attribute.

  input(type='text', placeholder='This input is disabled', disabled, class='form-input')

  h4 Input validity
  p 
    | Sometimes you need to validate your forms. To have meaningful styling for valid and invalid inputs add 
    code.inline-light input-valid
    |  and 
    code.inline-light input-invalid
    |  classes respectively.

  input(type='text', value='@CNN', class='form-input input-invalid')
  input(type='text', value='John Doe', class='form-input input-valid ')

  h4 Other form elements
  p
    | For radio and checkbox usage make sure to add 
    code.inline-light checkbox
    |  and 
    code.inline-light radio
    |  class to the label wrapping the actual input.

  form
    fieldset
      input(type='file', class='form-input')

      label.disabled.input-checkbox
        input(type='checkbox', disabled)
        | This is a disabled checkbox

      label.input-radio
        input(type='radio')
        | This is a radio button

      select
        option Option One

