section.forms

  h3 Forms

  label(for="sample1") Username
  input(type="text", name="sample1", placeholder="Insert your username")
  label(for="sample2") Password
  input(type="text", name="sample2", placeholder="••••••••••••••", disabled)
  .input-wrapper.invalid
    label(for="sample1") Invalid input
    input(type="text", name="sample1", class="invalid")
  .input-wrapper.has-icon.invalid
    label(for="sample1") Invalid input with an icon
    input(type="text", name="sample1")
    i.ss-icon.ss-standard.ss-delete 
  .input-wrapper.has-icon.valid
    label(for="sample1") Valid input with an icon
    input(type="text", name="sample1")
    i.ss-icon.ss-standard.ss-check
  input(type="file")
  label Write a comment
  textarea
    | This is a sample message

  .checkbox
    label
      input(type="checkbox")
      | This is a checkbox

  .radio
    label
      input(type="radio")
      | This is a radio input