section.forms

  h3 Forms

  h4 Inputs and textareas
  p 
    | All elements have predefined 
    code :focus  
    | state and placeholders.

  label(for="sample1") Username
  input(type="text", name="sample1", placeholder="Insert your username")
  label(for="sample2") Password
  input(type="text", name="sample2", placeholder="••••••••••••••", disabled)
  .input-wrapper.has-icon
    label(for="search") Search
    input(type="search", name="search")
    i.ss-icon.ss-standard search

  label Write a comment
  textarea
    | This is a sample message

  h4 Validity
  p 
    | You can keep inputs in 
    code .input-wrapper 
    | (recommended). And add validity classes of 
    code valid 
    | and 
    code invalid 
    | which will change the styles of labels, inputs and icons (if present) accordingly.

  p 
    | If you are willing to use icons make sure the wrapper element also has a class 
    code .has-icon.
    | Then add appropriate icons with this markup: 
    code i.ss-icon.ss-standard.ss-nameoftheicon

  .input-wrapper.invalid
    label(for="sample1") Invalid input
    input(type="text", name="sample1", class="invalid")
  .input-wrapper.has-icon.invalid
    label(for="sample1") Invalid input with an icon
    input(type="text", name="sample1")
    i.ss-icon.ss-standard.ss-delete 
  .input-wrapper.has-icon.valid
    label(for="sample1") Valid input with an icon
    input(type="text", name="sample1")
    i.ss-icon.ss-standard.ss-check

  h4 Other form elements
  p 
    | All basic elements have been covered: file inputs, checkboxes, radio buttons and selects. Despite checkboxes and radios, where you should add a
    code .disabled 
    | class to the label you can use the
    code :disabled 
    | attribute.

  input(type="file")

  .checkbox
    label.disabled
      input(type="checkbox", disabled)
      | This is a disabled checkbox

  .radio
    label
      input(type="radio")
      | This is a radio input

  select
    option Option One
    option Option Two
    option Option Three