section.forms

  h3 Forms

  label(for="sample1") Username
  input(type="text", name="sample1", placeholder="Insert your username")
  input(type="file")
  label Write a comment
  textarea
    | This is a sample message

  .checkbox
    label
      input(type="checkbox")
      | This is a checkbox

  .radio
    label
      input(type="radio")
      | This is a radio input