section.forms

  h3 Forms

  h4 Default form

  form
    fieldset
      legend Regular form
      label(for="sample1") Username
      input(type="text", name="sample1", placeholder="Insert your username")
      .input-wrapper.has-icon
        label(for="search") Search
        input(type="search", name="search")

      label Write a comment
      textarea
        | This is a sample message

      button(type="submit", class="button button-primary") Send

  h4 Required inputs

  input(type="text", placeholder="This input is required", required)

  pre
    code
      = '<input type="text" placeholder="This input is required" required>'

  h4 Disabled inputs
  p  
    | To disable a form element add 
    code.inline-light disabled
    |  attribute.

  input(type="text", placeholder="This input is disabled", disabled)

  pre
    code 
      = '<input type="text" placeholder="This input is disabled" disabled>'

  h4 Input validity
  p 
    | Sometimes you need to validate your forms. To have meaningful styling for valid and invalid inputs add 
    code.inline-light input-valid
    |  and 
    code.inline-light input-invalid
    |  classes respectively.

  input(type="text", value="@CNN", class="input-invalid")
  input(type="text", value="John Doe", class="input-valid")

  h4 Other form elements
  p 
    | All basic elements have been covered: file inputs, checkboxes, radio buttons and selects. Despite checkboxes and radios, where you should add a
    code .disabled 
    | class to the label you can use the
    code :disabled 
    | attribute.

  input(type="file")

  .checkbox
    label.disabled
      input(type="checkbox", disabled)
      | This is a disabled checkbox

  .radio
    label
      input(type="radio")
      | This is a radio input

  select
    option Option One
    option Option Two
    option Option Three