section

  h4 Grid
  p Grid is built on top of <a href='http://css-tricks.com/snippets/css/a-guide-to-flexbox/'>flexbox</a>. Cells (<code>grid-flex-cell</code>) will have the width of <code>100%</code> below <code>481px</code> and automatically calculated width (depending on cell count) above that breakpoint. Grid must be placed within <code>div</code> with <code>container</code> class.

  .grid-flex-container

    .grid-flex-cell
      p 1/2
    .grid-flex-cell
      p 1/2

  .grid-flex-container

    .grid-flex-cell
      p 1/3
    .grid-flex-cell
      p 1/3
    .grid-flex-cell
      p 1/3

  .grid-flex-container

    .grid-flex-cell
      p 1/4
    .grid-flex-cell
      p 1/4
    .grid-flex-cell
      p 1/4
    .grid-flex-cell
      p 1/4

  :markdown
    ```html
      <div class='.grid-flex-container'>
        <div class='grid-flex-cell'>
          <p>1/2</p>
        </div>
        <div class='grid-flex-cell'>
          <p>1/2</p>
        </div>
      </div>

      <div class='.grid-flex-container'>
        <div class='grid-flex-cell'>
          <p>1/3</p>
        </div>
        <div class='grid-flex-cell'>
          <p>1/3</p>
        </div>
        <div class='grid-flex-cell'>
          <p>1/3</p>
        </div>
      </div>

      <div class='.grid-flex-container'>
        <div class='grid-flex-cell'>
          <p>1/4</p>
        </div>
        <div class='grid-flex-cell'>
          <p>1/4</p>
        </div>
        <div class='grid-flex-cell'>
          <p>1/4</p>
        </div>
        <div class='grid-flex-cell'>
          <p>1/4</p>
        </div>
      </div>
    ```

  p For simple, one-column layout use only <code>container</code> element.

  :markdown
    ```html
      <div class='container'>
        ...
      </div>
    ```