doctype html
html
  head
    meta(charset="utf-8")
    title &amp;yet • Style Guide
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(href="public/css/demo.css", rel="stylesheet", type="text/css")

  .container
    header
      h1 &amp;yet Style Guide
      p Brand assets and modularized components.

      a(href="https://github.com/andyet/style", title="View on Github", class="button-large button button-secondary") View on Github

    .content

      include typography
      include colors
      include logos   
      include buttons
      include forms
      include tables
      include messages
      include navigation    
      include modals
      include progress
      include avatars
      include media

      footer
          p 
              | &copy; 2014, 
              a(href="http://andyet.com") &amp;yet
          p: a(href="https://github.com/andyet/style") See on Github

  script(src="public/js/highlight.pack.js")
  script 
      hljs.configure({
          tabReplace: '  ',
          classPrefix: ''
      })
      hljs.initHighlightingOnLoad()