!!! 5
html
  head
    meta(charset="utf-8")
    title &yet's style guide
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(href="/css/normalize.css", rel="stylesheet", type="text/css")
    link(href="/css/main.css", rel="stylesheet", type="text/css")

  body
    .container
      header
        h1 &amp;yet's Style
        h3 Reusable components and brand assets. 

      .content

        section.colors
          h2 
            | Colors
            a(href="") Download Photoshop .ASO swatch

          h4 Blues
          ul.cf
            li
              .color.blue1
              span #0B1316
            li
              .color.blue2
              span #0F2034
            li
              .color.blue3
              span #192A47
            li
              .color.blue4
              span #34465A
            li
              .color.blue5
              span #6C7F95
          ul.cf
            li
              .color.blue6
              span #12ACEF
            li
              .color.blue7
              span #b3eaff
            li
              .color.blue8
              span #F2FBFE

          h4 Pinks
          ul.cf
            li
              .color.pink1
              span #EC008C
            li
              .color.pink2
              span #fce8f1

          h4 Monochromatic
          ul.cf
            li
              .color.grey1
              span #2D2D2D
            li
              .color.grey2
              span #565656
            li
              .color.grey3
              span #878787
            li
              .color.grey4
              span #EEEEEE

