!!! 5
html
  head
    meta(charset="utf-8")
    title &yet's style guide
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(href="/css/normalize.css", rel="stylesheet", type="text/css")
    link(href="/css/demo.css", rel="stylesheet", type="text/css")

  body
    .container
      header
        h1 &amp;yet's Style
        h3 Reusable components and brand assets. 

      .content

        include colors
        include typography
        include buttons