!!! 5
html
  head
    meta(charset="utf-8")
    title &amp;yet • Style Guide
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(href="public/css/demo.css", rel="stylesheet", type="text/css")

    .container
      header
        h1 &amp;yet Style Guide
        p Brand assets and modularized components.

        a(href="https://github.com/andyet/style", title="View on Github", class="large button secondary") View on Github


      .content

        include typography
        include buttons
        include colors
        include forms
        include navigation
        include messages
        include modals
        include progress
        include avatars
        include media
        include tables

    script(src="public/js/highlight.pack.js")
    script 
        hljs.configure({
            tabReplace: '  ',
            classPrefix: ''
        });
        hljs.initHighlightingOnLoad();