section.media

  h3 Media

  div.cf

    a.media-wrap
      figure
        img(src="img/dummy-av.png")

  div.cf

    figure
      img(src="img/dummy-av.png")
      figcaption Image description

    figure
      img(src="img/dummy-av.png")

  div.cf

    figure.outlined
      img(src="img/dummy-av.png")
      figcaption Image description

    figure.outlined
      img(src="img/dummy-av.png")
