section.messages
  h3 Messages

  h4 Basic
  p 
    | There are four types of styles for messages: 
    strong default, error, alert 
    | and 
    strong success. 
    | All of thcode can contain links, which will have appropriate colors.

  .message
    p 
      | This is a message. 
      a(href="") This is a link.

  .message.error
    p 
      | This is an error. 
      a(href="") This is a link.

  .message.alert
    p
      | This is an alert. 
      a(href="") This is a link.

  .message.success
    p 
      | This is a success message. 
      a(href="") This is a link.

  h4 Dismissable
  p 
    | For messages that can be dismissed by the user add class 
    code .has-icon 
    | and appropriate markup for the icon itself &ndash; 
    code a.ss-icon.ss-standard.ss-delete.

  .message.error.has-icon
    p This is an error that can be dismissed.
    a(class="ss-icon ss-standard ss-delete", title="Close")

  .message.alert.has-icon
    p This is an alert that can be dismissed.
    a(class="ss-icon ss-standard ss-delete", title="Close")

  .message.success.has-icon
    p This is a success message that can be dismissed.
    a(class="ss-icon ss-standard ss-delete", title="Close")

  h4 Full width
  p 
    | Messages spanning for full width (of the site, usually) should have 
    code .full-width 
    | class. The text will be centered.

  .message.success.full-width.has-icon
    p This is a full width success message that can be dismissed.
    a(class="ss-icon ss-standard ss-delete", title="Close")

  h4 Positioning
  p 
    | Messages can be easily positioned accordingly to correlating fields using following classes: 
    code above, below, left, right 
    | &ndash; where those classes denotate position of the message relatively to the relevant elcodeent.

  .message.below
    p This is a message appearing below an elcodeent.

  .message.success.above
    p This is a message appearing above an elcodeent.

  .message.error.left
    p This is a message appearing on the left hand side of the elcodeent.

  .message.alert.right
    p This is a message appearing on the right hand side of the elcodeent.