section.messages
  h3 Messages

  .message
    p This is a message.

  .message.alert
    p This is an alert.

  .message.alert.has-icon
    p This is an alert.
    aa(class="ss-icon ss-standard ss-delete", title="Close")

  .message.success
    p This is a success message.

  .message.success.full-width.has-icon
    p This is a full width success message.
    a(class="ss-icon ss-standard ss-delete", title="Close")