section.messages
  h3 Messages

  h4 Basic messages
  p 
    | There are four types of styles for messages: 
    code.inline-light default
    |  ,
    code.inline-light alert
    |  ,
    code.inline-light error
    |  and 
    code.inline-light success
    |  . 
    | All of them can contain links, which will have appropriate colors.

  .message
    p 
      | This is a message. 
      a(href="") This is a link.

  .message.message-error
    p 
      | This is an error. 
      a(href="") This is a link.

  .message.message-alert
    p
      | This is an alert. 
      a(href="") This is a link.

  .message.message-success
    p 
      | This is a success message. 
      a(href="") This is a link.

  pre
    code
      = '<div class="message">'
      br
      = '  <p>This is a message</p>'
      br
      = '</div>'
      br
      br
      = '<div class="message message-alert">'
      br
      = '  <p>This is an alert</p>'
      br
      = '</div>'
      br
      br
      = '<div class="message message-error">'
      br
      = '  <p>This is an error</p>'
      br
      = '</div>'
      br
      br
      = '<div class="message message-success">'
      br
      = '  <p>This is a success message</p>'
      br
      = '</div>'

  h4 Dismissable messages
  p 
    | For messages that can be dismissed add class 
    code.inline-light message-has-icon 
    |  and appropriate classes for the icon itself &mdash; 
    code.inline-light ss-icon.ss-standard.ss-delete
    |  (or use a  different icon set, if you wish). Do remember to include the 
    code.inline-light title
    |  attribute as well.

  .message.message-error.message-has-icon
    p This is an error that can be dismissed.
    a(class="close", title="Close") &times;

  .message.message-alert.message-has-icon
    p This is an alert that can be dismissed.
    a(class="close", title="Close") &times;

  .message.message-success.message-has-icon
    p This is a success message that can be dismissed.
    a(class="close", title="Close") &times;

  pre
    code
      = '<div class="message message-success message-has-icon">'
      br
      = '  <p>This is a success message that can be dismissed</p>'
      br
      = '  <a href="" class="ss-icon ss-standard ss-delete", title="Close"></a>'
      br
      = '</div>'

  h4 Full width dismissable messages
  p 
    | Messages spanning for full width of the container should have 
    code.inline-light full-width
    |  class.


  .message.message-success.message-full-width.message-has-icon
    p This is a full width success message that can be dismissed.
    a(class="close", title="Close") &times;

  pre
    code
      = '<div class="message message-full-width">'
      br
      = '  <p>This is a success message that can be dismissed</p>'
      br
      = '  <a href="" class="ss-icon ss-standard ss-delete", title="Close"></a>'
      br
      = '</div>'

  h4 Message positioning
  p 
    | Messages can be easily positioned accordingly to correlating fields using following classes: 
    code.inline-light message-above
    |  ,
    code.inline-light message-below
    |  ,
    code.inline-light message-left
    |  and 
    code.inline-light message-right
    | &mdash; where those classes denotate position of the message relatively to the element.

  .message.message-below
    p This is a message appearing below an element.

  .message.message-success.message-above
    p This is a message appearing above an element.

  .message.message-error.message-left
    p This is a message appearing on the left hand side of the element.

  .message.message-alert.message-right
    p This is a message appearing on the right hand side of the element.