section.messages
  h3 Messages

  .message
    p 
      | This is a message. 
      a(href="") This is a link.

  .message.alert
    p 
      | This is an alert. 
      a(href="") This is a link.

  .message.alert.has-icon
    p This is an alert that can be dismissed.
    a(class="ss-icon ss-standard ss-delete", title="Close")

  .message.success
    p 
      | This is a success message. 
      a(href="") This is a link.

  .message.success.full-width.has-icon
    p This is a full width success message that can be dismissed.
    a(class="ss-icon ss-standard ss-delete", title="Close")

  .message.below
    p This is a message appearing below an element.

  .message.success.above
    p This is a message appearing above an element.