section.modals
  h3 Modals

    h4 Regular Modals
    h4 Modals with no header

    h4 Overlay
    p 
      | If you need to cover the content of the page to display the overlay (probably most cases) &ndash; you will need an 
      code .overlay 
      | div appended to body of the page. It will create an scodei-transparent black overlay.