section.modals
  h3 Modals

    h4 Regular Modals
    p 
      | All modals are triggered by having a div with a class 
      code .modal
      | . Detailed markup for modal usage can be found in the readme.

    h4 Modals with no header
    p
      | Sometimes you need a simple modal without header and just paragraph with buttons. Use the class 
      code .no-head
      | . Paddings will be applied automatically.
        

    h4 Overlay
    p 
      | If you need to cover the content of the page to display the overlay (probably most cases) &ndash; you will need an 
      code .overlay 
      | div appended to body of the page. It will create an semi-transparent black overlay.