section.navigation
  h3 Navigation

  h4 Top bars
  p 
   | To create a navigation bar pinned to top of the page use 
   code.inline-light top-nav
   |  class. Navigation is mobile friendly and features a hamburger icon for mobile screens.

  //- nav(class='top-nav cf', role='navigation')

  //-   input(id='menu-toggle', class='menu-toggle', type='checkbox')
  //-   label(for='menu-toggle') Menu

  //-   ul.list-unstyled.list-inline.cf
  //-     li
  //-       a(href='') Link one
  //-     li
  //-       a(href='') Link two
  //-     li
  //-       a(href='') Link three
  //-     li.has-dropdown
  //-       a(href='', class='active') Link four
  //-       i.ss-icon.ss-standard dropdown
  //-       ul.dropdown.cf
  //-         li
  //-           a(href='') Sublink one
  //-         li
  //-           a(href='') Sublink two
  //-         li
  //-           a(href='') Sublink three
  //-         li
  //-           a(href='') Sublink four
  //-         li
  //-           a(href='') Sublink five
  //-         li
  //-           a(href='') Sublink six
  //-     li
  //-       a(href='') Link five

  //- nav(class='top-nav dark cf', role='navigation')

  //-   input(id='menu-toggle-1', class='menu-toggle', type='checkbox')
  //-   label(for='menu-toggle-1') Menu

  //-   ul.list-unstyled.list-inline.cf
  //-     li
  //-       a(href='') Link one
  //-     li
  //-       a(href='') Link two
  //-     li
  //-       a(href='') Link three
  //-     li.has-dropdown
  //-       a(href='', class='active') Link four
  //-       i.ss-icon.ss-standard dropdown
  //-       ul.dropdown.cf
  //-         li
  //-           a(href='') Sublink one
  //-         li
  //-           a(href='') Sublink two
  //-         li
  //-           a(href='') Sublink three
  //-         li
  //-           a(href='') Sublink four
  //-         li
  //-           a(href='') Sublink five
  //-         li
  //-           a(href='') Sublink six
  //-     li
  //-       a(href='') Link five

  h4 Breadcrumbs
  p
    | For showing progress with more complex sites and apps use 
    code.inline-light breadcrumbs
    | . 

  nav(role='navigation')
    ul.list-unstyled.list-inline.breadcrumbs
      li
        a(href='') Page One
      li
        a(href='') Page Two
      li
        a(href='', class='breadcrumb-unavailable') Unavailable Page
      li
        a(href='', class='current-item') Current Page

  h4 Pagination

  p 
    | Pagination 
    code.inline-light page-current
    |  class assignment should be handled in JavaScript.

  nav
    ul.list-unstyled.list-inline.pagination
      li
        a(href='', class='icon-arrow-left')
      li
        a(href='', class='page-unavailable') 1
      li
        a(href='', class='current-item') 2
      li
        a(href='') 3
      li
        a(href='') 4
      li
        a(href='') 5
      li
        a(href='', class='icon-arrow-right')

  h4 Tabs
  p 
    | Tabs state, content switch and 
    code.inline-light active
    |   class assignment need to be handled in JavaScript.

  nav
    ul.tabs.list-unstyled.list-inline
      li
        a(href='') Tab One
      li
        a(href='', class='current-item') Tab Two
      li
        a(href='') Tab Three

  h4 Side Navigation
  p 
    | For side navigation use 
    code.inline-light side-nav
    | .

  nav(role='navigation')
    ul.side-nav.list-unstyled
      li
        a(href='') Option One
      li
        a(href='', class='current-item') Option Two
      li
        a(href='') Option Three
