section.navigation
  h3 Navigation

  h4 Top bars
  p 
   | To create a navigation bar pinned to top of the page use 
   code.inline-light top-nav
   |  class. 

  nav(role="navigation")
    ul.top-nav
      li
        a(href="") Link one
      li
        a(href="") Link two
      li
        a(href="") Link three
      li.has-dropdown
        a(href="", class="active") Link four
        ul.dropdown
          li
            a(href="") Link one
          li
            a(href="") Link two
        i.ss-icon.ss-standard dropdown
      li
        a(href="") Link five

  nav(role="navigation")
    ul.top-nav.dark
      li
        a(href="") Link one
      li
        a(href="") Link two
      li
        a(href="") Link three
      li.has-dropdown
        a(href="", class="active") Link four
        ul.dropdown
          li
            a(href="") Link one
          li
            a(href="") Link two
        i.ss-icon.ss-standard dropdown
      li
        a(href="") Link five

  pre
    code
      = '<nav role="navigation">'
      br
      = '  <ul class="top-nav">'
      br
      = '   <li>'
      br
      = '     <a href="">Menu Item One</a>'
      br
      = '   </li>'
      br
      = '   <li class="has-dropdown">'
      br
      = '     <a href="">Menu Item Two</a>'
      br
      = '     <ul class="dropdown">'
      br
      = '       <li><a href="">Nested Menu Item</a></li>'
      br
      = '     </ul>'
      br
      = '     <i class="ss-icon ss-standard ss-dropdown"></i>'
      br
      = '   </li>'
      br
      = '   <li>'
      br
      = '     <a href="">Menu Item One</a>'
      br
      = '   </li>'
      br
      br
      = '  </ul>'
      br
      = '</nav>'

  h4 Breadcrumbs
  p
    | For showing progress with more complex sites and apps use 
    code.inline-light breadcrumbs
    | . 

  nav(role="navigation")
    ul.breadcrumbs
      li
        a(href="") Page One
      li
        a(href="") Page Two
      li
        a(href="", class="breadcrumb-unavailable") Unavailable Page
      li
        a(href="", class="breadcrumb-current") Current Page

  pre
    code
      = '<nav role="navigation">'
      br
      = '  <ul class="breadcrumbs">'
      br
      = '    <li><a href="">Page One</a></li>'
      br
      = '    <li><a href="" class="breadcrumb-unavailable">Unavailable Page</a></li>'
      br
      = '    <li><a href="" class="breadcrumb-current">Current Page</a></li>'
      br
      = '  </ul>'
      br
      = '</nav>'

  h4 Pagination
  p 
    | For pagination use class 
    code .pagination

  nav
    ul.pagination
      li
        a(href="", class="ss-icon ss-standard unavailable") directleft
      li
        a(href="", class="unavailable") 1
      li
        a(href="", class="active") 2
      li
        a(href="") 3
      li
        a(href="") 4
      li
        a(href="") 5
      li
        a(href="", class="ss-icon ss-standard") directright

  h4 Tabs

  p
    code .tabs 
    | feature only menu section, not content switching!

  nav
    ul.tabs
      li
        a(href="") Tab One
      li
        a(href="", class="active") Tab Two
      li
        a(href="") Tab Three

  h4 Side Navigation

  p 
    | For side navigation use 
    code .side-nav

  nav(role="navigation")
    ul.side-nav
      li
        a(href="") Option One
      li
        a(href="", class="active") Option Two
      li
        a(href="") Option Three
