section.navigation
  h3 Navigation

  h4 Top bars

  nav(role="navigation")
    ul.top-nav
      li
        a(href="") Link one
      li
        a(href="") Link two
      li
        a(href="") Link three
      li.has-dropdown
        a(href="", class="active") Link four
        ul.dropdown
          li
            a(href="") Link one
          li
            a(href="") Link two
        i.ss-icon.ss-standard dropdown
      li
        a(href="") Link five

  nav(role="navigation")
    ul.top-nav.dark
      li
        a(href="") Link one
      li
        a(href="") Link two
      li
        a(href="") Link three
      li.has-dropdown
        a(href="", class="active") Link four
        ul.dropdown
          li
            a(href="") Link one
          li
            a(href="") Link two
        i.ss-icon.ss-standard dropdown
      li
        a(href="") Link five

  h4 Breadcrumbs

  nav(role="navigation")
    ul.breadcrumbs
      li
        a(href="") Home
      li
        a(href="") Go Deeper
      li
        a(href="", class="unavailable") Even More
      li
        a(href="", class="current") Current Item

  h4 Pagination

  nav
    ul.pagination
      li
        a(href="", class="ss-icon ss-standard unavailable") directleft
      li
        a(href="", class="unavailable") 1
      li
        a(href="", class="active") 2
      li
        a(href="") 3
      li
        a(href="") 4
      li
        a(href="") 5
      li
        a(href="", class="ss-icon ss-standard") directright

  h4 Tabs

  nav
    ul.tabs
      li
        a(href="") Tab One
      li
        a(href="", class="active") Tab Two
      li
        a(href="") Tab Three

  h4 Side Navigation

  nav(role="navigation")
    ul.side-nav
      li
        a(href="") Option One
      li
        a(href="", class="active") Option Two
      li
        a(href="") Option Three
