section.navigation
  h3 Navigation

  nav.top-nav
    ul
      li
        a(href="") Link one
      li
        a(href="") Link two
      li
        a(href="") Link three
      li.has-dropdown
        a(href="", class="active") Link four
        ul.dropdown
          li
            a(href="") Link one
          li
            a(href="") Link two
        i.ss-icon.ss-standard dropdown
      li
        a(href="") Link five

  nav.top-nav.dark
    ul
      li
        a(href="") Link one
      li
        a(href="") Link two
      li
        a(href="") Link three
      li.has-dropdown
        a(href="", class="active") Link four
        ul.dropdown
          li
            a(href="") Link one
          li
            a(href="") Link two
        i.ss-icon.ss-standard dropdown
      li
        a(href="") Link five
