section
  h2 Navigation

  h3 Top bars
  p For navigation bars use <code>top-nav</code> class with desired color variation (<code>top-nav-light</code> or <code>top-nav-dark</code>).

  nav(class='top-nav top-nav-light cf', role='navigation')

    input(id='menu-toggle', class='menu-toggle', type='checkbox')
    label(for='menu-toggle') Menu

    ul.list-unstyled.list-inline.cf
      li
        a(href='') Link one
      li
        a(href='') Link two
      li
        a(href='') Link three
      li.has-dropdown
        a(href='', class='active') Link four
        .icon-arrow-down
        ul.list-unstyled.dropdown.cf
          li
            a(href='') Sublink one
          li
            a(href='') Sublink two
          li
            a(href='') Sublink three
          li
            a(href='') Sublink four
          li
            a(href='') Sublink five
          li
            a(href='') Sublink six
      li
        a(href='') Link five

  nav(class='top-nav top-nav-dark cf', role='navigation')

    input(id='menu-toggle-1', class='menu-toggle', type='checkbox')
    label(for='menu-toggle-1') Menu

    ul.list-unstyled.list-inline.cf
      li
        a(href='') Link one
      li
        a(href='') Link two
      li
        a(href='') Link three
      li.has-dropdown
        a(href='', class='active') Link four
        .icon-arrow-down
        ul.list-unstyled.dropdown.cf
          li
            a(href='') Sublink one
          li
            a(href='') Sublink two
          li
            a(href='') Sublink three
          li
            a(href='') Sublink four
          li
            a(href='') Sublink five
          li
            a(href='') Sublink six
      li
        a(href='') Link five

  :markdown
    ```html
      <nav class='top-nav top-nav-light cf' role='navigation'>
        <input id='menu-toggle' class='menu-toggle' type='checkbox'>
        <label for='menu-toggle'>Menu</label>

        <ul class='list-unstyled list-inline cf'>
          <li><a>Link One</a></li>
          <li><a>Link Two</a></li>
          <li><a>Link Three</a></li>
          <li class='has-dropdown'>
            <a class='active'>Link Four</a>
            <div class='icon-arrow-down'></div>
            <ul class='list-unstyled dropdown cf'>
              <li><a>Sublink One</a></li>
              <li><a>Sublink Two</a></li>
              <li><a>Sublink Three</a></li>
              <li><a>Sublink Four</a></li>
              <li><a>Sublink Five</a></li>
              <li><a>Sublink Six</a></li>
            </ul>
          </li>
          <li><a>Link Five</a></li>
        </ul>
      </nav>
    ```

  h3 Breadcrumbs
  p For indicating users location in complex sites or applications use breadcrumbs.

  nav(role='navigation')
    ul.list-unstyled.list-inline.breadcrumbs
      li
        a(href='') Page One
        | ›
      li
        a(href='') Page Two
        | ›
      li
        a(class='unavailable-item') Unavailable Page
        | ›
      li
        a(href='', class='current-item') Current Page

  :markdown
    ```html
      <nav role='navigation'>
        <ul class='list-unstyled list-inline breadcrumbs'>
          <li><a>Page One</a>›</li>
          <li><a>Page Two</a>›</li>
          <li><a class='unavailable-item'>Unavailable Page</a>›</li>
          <li><a class='current-item'>Current Page</a>›</li>
        </ul>
      </nav>
    ```

  h3 Pagination
  p To indicate content spanning over multiple pages use pagination element.

  nav(role='navigation')
    ul.list-unstyled.list-inline.pagination
      li
        a(href=''): em.icon-arrow-left
      li
        a(class='unavailable-item') 1
      li
        a(href='', class='current-item') 2
      li
        a(href='') 3
      li
        a(href='') 4
      li
        a(href='') 5
      li
        a(href=''): em.icon-arrow-right

  :markdown
    ```html
      <nav role='navigation'>
        <ul class='list-unstyled list-inline pagination'>
          <li><a><em class='icon-arrow-left'></em></a></li>
          <li><a class='unavailable-item'>1</a></li>
          <li><a class='current-item'>2</a></li>
          <li><a>3</a></li>
          <li><a>4</a></li>
          <li><a>5</a></li>
          <li><a><em class='icon-arrow-right'></em></a></li>
        </ul>
      </nav>
    ```

  h3 Tabs
  p For tabbed content make sure to style the content as well.

  nav(role='navigation')
    ul.list-unstyled.list-inline.tabs
      li
        a(href='') Tab One
      li
        a(href='', class='current-item') Tab Two
      li
        a(href='') Tab Three

  :markdown
    ```html
      <nav role='navigation'>
        <ul class='list-unstyled list-inline tabs'>
          <li><a>Tab One</a></li>
          <li><a class='current-item'>Tab Two</a></li>
          <li><a>Tab Three</a></li>
        </ul>
      </nav>
    ```

  h3 Side Navigation
  p For simple navigation on the side use <code>side-nav</code> class.

  nav(role='navigation')
    ul.list-unstyled.side-nav
      li
        a(href='') Option One
      li
        a(href='', class='current-item') Option Two
      li
        a(href='') Option Three

  :markdown
    ```html
      <nav role='navigation'>
        <ul class='list-unstyled side-nav'>
          <li><a>Option One</a></li>
          <li><a class='current-item'>Option Two</a></li>
          <li><a>Option Three</a></li>
        <ul>
      </nav>
    ```

  h3 Extras
  p You can use dropdowns and arrow elements separately from navigation items too.

  .dropdown-standalone.dropdown-outlined
    a.button-unstyled Dropdown
    span.icon-arrow-down
    ul.list-unstyled.dropdown
      li: a Item One
      li: a Item Two

  .dropdown-standalone.dropdown-neutral
    a.button-unstyled Button Dropdown
    span.icon-arrow-down
    ul.list-unstyled.dropdown
      li: a Item One
      li: a Item Two

  .dropdown-standalone.dropdown-coloured
    a.button-unstyled Button Dropdown
    span.icon-arrow-down
    ul.list-unstyled.dropdown
      li: a Item One
      li: a Item Two

  :markdown
    ```html
      <div class='dropdown-standalone dropdown-outlined'>
        <a class='button-unstyled'>Dropdown</a>
        <span class='icon-arrow-down'></span>
        <ul class='list-unstyled dropdown'>
          <li>Item One</li>
          <li>Item Two</li>
        </ul>
      </div>

      <div class='dropdown-standalone button dropdown-outlined'>
        <a class='button-unstyled'>Button Dropdown</a>
        <span class='icon-arrow-down'></span>
        <ul class='list-unstyled dropdown'>
          <li>Item One</li>
          <li>Item Two</li>
        </ul>
      </div>

      <div class='dropdown-standalone dropdown-coloured'>
        <a class='button-unstyled'>Button Dropdown</a>
        <span class='icon-arrow-down'></span>
        <ul class='list-unstyled dropdown'>
          <li>Item One</li>
          <li>Item Two</li>
        </ul>
      </div>
    ```

  span.icon-arrow-down.icon-sample
  span.icon-arrow-up.icon-sample
  span.icon-arrow-left.icon-sample
  span.icon-arrow-right.icon-sample

  :markdown
    ```html
      <span class='icon-arrow-down'></span>
      <span class='icon-arrow-up'></span>
      <span class='icon-arrow-left'></span>
      <span class='icon-arrow-right'></span>
    ```
