section.progress-bars

  h3 Progress Bars
  p 
    | All progress bars are built with a  
    code.inline-light meter
    |  with an animation attached to it. 
    strong No calculations of state or value 
    | are perfomed (you need to figure this out by yourself).

  h4 Large progress bar

  .progress.progress-large.progress-success
    span.meter

  .progress.progress-large.progress-warning
    span.meter

  .progress.progress-large.progress-error
    span.meter

  .progress.progress-large
    span.meter

  pre
    code
      = '<div class="progress progress-large progress-success">'
      br
      = '  <span class="meter"></span>'
      br
      = '</div>'
      br
      br
      = '<div class="progress progress-large progress-warning">'
      br
      = '  <span class="meter"></span>'
      br
      = '</div>'
      br
      br
      = '<div class="progress progress-large progress-error">'
      br
      = '  <span class="meter"></span>'
      br
      = '</div>'
      br
      br
      = '<div class="progress progress-large">'
      br
      = '  <span class="meter"></span>'
      br
      = '</div>'

  h4 Small progress bar
  p
    | For small bars use 
    code.inline-light progress-small
    |  class.

  .progress.progress-small.progress-success
    span.meter

  .progress.progress-small.progress-warning
    span.meter

  .progress.progress-small.progress-error
    span.meter

  .progress.progress-small
    span.meter

  h4 Rounded progress bar
  p
    | For rounded bars use 
    code.inline-light progress-rounded
    |  class.

  .progress.progress-small.progress-rounded.progress-error
    span.meter

  .progress.progress-small.progress-rounded.progress-warning
    span.meter

  .progress.progress-small.progress-rounded.progress-success
    span.meter

  .progress.progress-small.progress-rounded
    span.meter
