section.progress-bars

  h3 Progress Bars

  h4 Large

  .progress.large.success
    span.meter

  .progress.large.warning
    span.meter

  .progress.large.error
    span.meter

  .progress.large
    span.meter

  h4 Small

  .progress.small.success
    span.meter

  .progress.small.warning
    span.meter

  .progress.small.error
    span.meter

  .progress.small
    span.meter

  h4 Rounded

  .progress.large.rounded.error
    span.meter

  .progress.small.rounded.success
    span.meter

