section.tables

  h3 Tables
  p 
    | Tables come with helper styles for changing the default appearance. The default table markup can be found below &mdash; do remember about proper content grouping with 
    code.inline-light thead
    |  and 
    code.inline-light tbody
    | .

  pre
    code
      = '<table>'
      br
      = '  <thead>'
      br
      = '    <tr>'
      br
      = '     <th>#</th>'
      br
      = '     <th>Name</th>'
      br
      = '     <th>Surname</th>'
      br
      = '     <th>Email</th>'
      br
      = '    </tr>'
      br
      = '  </thead>'
      br
      = '  <tbody>'
      br
      = '   <tr>'
      br
      = '    <td>1</td>'
      br
      = '    <td>Adam</td>'
      br
      = '    <td>Brault</td>'
      br
      = '    <td>adam@andyet.net</td>'
      br
      = '   </tr>'
      br
      = '   <tr>'
      br
      = '    <td>2</td>'
      br
      = '    <td>Henrik</td>'
      br
      = '    <td>Joreteg</td>'
      br
      = '    <td>henrik@andyet.net</td>'
      br
      = '   </tr>'
      br
      = '   <tr>'
      br
      = '    <td>3</td>'
      br
      = '    <td>Adam</td>'
      br
      = '    <td>Baldwin</td>'
      br
      = '    <td>baldwin@andyet.net</td>'
      br
      = '   </tr>'
      br
      = '  </tbody>'
      br 
      = '</table>'

  table
    thead
      tr
        th #
        th Name
        th Surname
        th Email
    tbody
      tr
        td 1
        td Adam
        td Brault
        td 
          a adam@andyet.net
      tr
        td 2
        td Henrik 
        td Joreteg
        td 
          a henrik@andyet.net
      tr
        td 3
        td Adam
        td Baldwin
        td
          a baldwin@andyet.net

  h4 Outlined table with hover effect
  p 
    | To separate the table visually add 
    code.inline-light table-outlined
    |  class. For additional hover effect on rows use 
    code.inline-light table-with-hover
    |  .

  table.table-outlined.table-with-hover
    thead
      tr
        th #
        th Name
        th Surname
        th Email
    tbody
      tr
        td 1
        td Adam
        td Brault
        td 
          a adam@andyet.net
      tr
        td 2
        td Henrik 
        td Joreteg
        td 
          a henrik@andyet.net
      tr
        td 3
        td Adam
        td Baldwin
        td
          a baldwin@andyet.net

  h4 Striped table
  p
    | To differentiate the rows add 
    code.inline-light table-striped
    |  class to the 
    code.inline-light table
    |  tag.

  table.table-striped
    thead
      tr
        th #
        th Name
        th Surname
        th Email
    tbody
      tr
        td 1
        td Adam
        td Brault
        td 
          a adam@andyet.net
      tr
        td 2
        td Henrik 
        td Joreteg
        td 
          a henrik@andyet.net
      tr
        td 3
        td Adam
        td Baldwin
        td
          a baldwin@andyet.net
      tr
        td 4
        td Amy
        td Lynn Taylor
        td
          a amy@andyet.net

  h4 Table with states
  p
    | If you're willing to add states to data inside the table use 
    code.inline-light table-cell-success
    | ,
    code.inline-light table-cell-alert
    |  and 
    code.inline-light table-cell-error
    |  respectively.

  table
    thead
      tr
        th #
        th Name
        th Surname
        th Email
    tbody
      tr.table-cell-success
        td 1
        td Adam
        td Brault
        td 
          a adam@andyet.net
      tr.table-cell-alert
        td 2
        td Henrik 
        td Joreteg
        td 
          a henrik@andyet.net
      tr.table-cell-error
        td 3
        td Adam
        td Baldwin
        td
          a baldwin@andyet.net
      tr
        td 4
        td Amy
        td Lynn Taylor
        td
          a amy@andyet.net