section.tables

  h3 Tables

  table
    thead
      tr
        th #
        th Name
        th Surname
        th Email
    tbody
      tr
        td 1
        td Adam
        td Brault
        td 
          a adam@andyet.net
      tr
        td 2
        td Henrik 
        td Joreteg
        td 
          a henrik@andyet.net
      tr
        td 3
        td Adam
        td Baldwin
        td
          a baldwin@andyet.net

    table.outlined.with-hover
      thead
        tr
          th #
          th Name
          th Surname
          th Email
      tbody
        tr
          td 1
          td Adam
          td Brault
          td 
            a adam@andyet.net
        tr
          td 2
          td Henrik 
          td Joreteg
          td 
            a henrik@andyet.net
        tr
          td 3
          td Adam
          td Baldwin
          td
            a baldwin@andyet.net

    table.striped
      thead
        tr
          th #
          th Name
          th Surname
          th Email
      tbody
        tr
          td 1
          td Adam
          td Brault
          td 
            a adam@andyet.net
        tr
          td 2
          td Henrik 
          td Joreteg
          td 
            a henrik@andyet.net
        tr
          td 3
          td Adam
          td Baldwin
          td
            a baldwin@andyet.net
        tr
          td 4
          td Amy
          td Lynn Taylor
          td
            a amy@andyet.net


    table
      thead
        tr
          th #
          th Name
          th Surname
          th Email
      tbody
        tr.success
          td 1
          td Adam
          td Brault
          td 
            a adam@andyet.net
        tr.alert
          td 2
          td Henrik 
          td Joreteg
          td 
            a henrik@andyet.net
        tr.error
          td 3
          td Adam
          td Baldwin
          td
            a baldwin@andyet.net
        tr
          td 4
          td Amy
          td Lynn Taylor
          td
            a amy@andyet.net