section.typography
  h3 Typography

  p 
    | &yet's typefaces are  
    strong Helvetica Neue 
    | and 
    strong Gotham
    | . Gotham is a web font served through 
    a(href="http://typography.com") Typography.com
    | .

  .samples
    h1 Headline 1 is x px
    h2 Headline 2 is x px
    h3 Headline 3 is x px
    h4 Headline 4 is x px, uppercased
    p Body copy is x px
    p.small Small body copy is x px