section.typography
  h3 Typography

  p 
    | &yet's typefaces are  
    strong Helvetica Neue 
    | and 
    strong Gotham
    | . Gotham is a web font served through 
    a(href="http://typography.com") Typography.com
    | .

  h4 Headings and sizes

  .samples
    h1 Headline 1 is 30px
    h2 Headline 2 is 24px
    h3 Headline 3 is 18px
    h4 Headline 4 is 14px, uppercased
    p Body copy is 14px
    p.small Small body copy is 12px

  h4 Basic text manipulations

  p 
    | You can make the text 
    strong bold 
    | or 
    em emphasized 
    | very easily too. Sometimes you might want to use 
    abbr abbreviations.

  h4 Blockquotes

  p For quoting use blockquote tag with p elements in it. To add authors or notes below use small tag.

  blockquote
    p Once now and then a smart quote would be nice.
    small Adam Brault

  blockquote.blue
    p Once now and then a smart quote would be nice.
    small Adam Brault

  h4 Lists

  ul
    li List element one
    li List element two
      ul
        li List element that's nested
    li List element three
    li List element four
    li List element five

  ol
    li List element one
    li List element two
    li List element three
    li List element four
    li List element five
  