section.typography
  h3 Typography

  p 
    | &yet's typefaces are  
    strong Helvetica Neue 
    | and 
    strong Gotham
    | . Gotham is a web font served through 
    a(href="http://typography.com") Typography.com
    | .

  .samples
    h1 Headline 1 is 30px
    h2 Headline 2 is 24px
    h3 Headline 3 is 18px
    h4 Headline 4 is 14px, uppercased
    p Body copy is 14px
    p.small Small body copy is 12px