/*--------------------------------------------------------------------
*
* AVATARS
*
--------------------------------------------------------------------*/

.avatar-wrapper 
  display: inline-block
  cursor: pointer
  background-color: $blue
  border-radius: 100px

  .avatar  
    &:hover
      opacity: .5
      transition: all .3s ease-in

.avatar, .avatar-wrapper

  &.avatar-radius
    border-radius: 3px

  &.avatar-rounded
    border-radius: 100px
  
  &.avatar-small
    height: 25px
    width: 25px

  &.avatar-medium
    height: 50px
    width: 50px

  &.avatar-large
    height: 100px
    width: 100px
