/*--------------------------------------------------------------------
*
* $AVATARS
*
--------------------------------------------------------------------*/

.avatar-wrapper.media-wrapper
  border-radius: 100%

.avatar-radius
  border-radius: 3px

.avatar-rounded
  border-radius: 100%

.avatar-small
  height: 25px
  width: 25px

.avatar-medium
  height: 50px
  width: 50px

.avatar-large
  height: 100px
  width: 100px