/*--------------------------------------------------------------------
*
* BASE
*
--------------------------------------------------------------------*/

*, *:after, *:before
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html
  font-size: 100%

body
  font: $font-base/$line-height-base $font-sentinel
  color: $gray-dark
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

p
  margin: 0 0 $space 0

//- Selection highlight

::-moz-selection
  background-color: $blue-light
  color: white

::selection
  background-color: $blue-light
  color: white

//- Headings

h1, h2, h3, h4, h5, h6
  margin: 0 0 $space 0
  color: black
  font-family: $font-gotham
  line-height: $line-height-heading

h1
  font-size: $font-h1

h2
  font-size: $font-h2

h3
  font-size: $font-h3

h4 
  font-size: $font-h4

h5
  font-size: $font-h5

h6
  font-size: $font-h6
  text-transform: uppercase
  color: $gray

//- Links

a
  color: $blue
  text-decoration: none
  cursor: pointer

  &:focus
    outline: none

  &:hover 
    color: darken($blue, 20%)

//- Text manipulations

abbr
  color: $gray-dark
  border-bottom: 1px dotted $gray-light

small
  font-size: $font-small

blockquote
  margin: 20px 0
  padding: 0 20px
  color: $gray
  font: italic $font-large $font-sentinel

  p
    margin: 0

    &:last-child
      margin-bottom: 0

  small
    color: lighten($gray, 40%)

    &:before
      content: '\2014 \00A0'

//- Helper classes

.pull-left
  float: left

.pull-right
  float: right

.hide
  display: none

.cf
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both

//- Images and media

img, iframe, video
  max-width: 100%
  height: auto

@media screen and (max-width: $breakpoint-desktop - 1)

  .wrapper
    width: 90%

  h1
    font-size: $mobile-font-h1

  h2
    font-size: $mobile-font-h2

  h3
    font-size: $mobile-font-h3

  h4 
    font-size: $mobile-font-h4

  h5
    font-size: $mobile-font-h5

  h6
    font-size: $mobile-font-h6

  h5, h6
    text-transform: uppercase

@media screen and (min-width: $breakpoint-desktop)

  .wrapper
    width: 75%

@media screen and (min-width: $breakpoint-desktop-wide)

  .wrapper
    width: 65%