/*--------------------------------------------------------------------
*
* $BASE
*
--------------------------------------------------------------------*/

*, *:after, *:before
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  font: $font-base/$line-height-base $font-gotham
  color: $gray-dark
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

p
  margin: 0 0 $space 0

//- Selection highlight

::-moz-selection
  background-color: $blue-light
  color: white

::selection
  background-color: $blue-light
  color: white

//- Links

a
  color: $blue
  text-decoration: none
  cursor: pointer

  &:focus
    outline: none

  &:hover:not(.button)
    color: darken($blue, 20%)

//- Helper classes

.pull-left
  float: left

.pull-right
  float: right

.hide
  display: none

.cf
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both

//- Images and media

img, iframe, video
  max-width: 100%
  height: auto