/*--------------------------------------------------------------------
*
* $BUTTONS
*
--------------------------------------------------------------------*/

.button
  display: inline-block
  border: 1px solid $gray-light
  background-color: transparent
  border-radius: $default-border-radius
  padding: ceil($ui-padding*.3) $ui-padding
  font-weight: $font-weight-bold
  line-height: 1.5
  text-align: center
  cursor: pointer
  transition: all .3s ease-in 
  -webkit-transition: all .3s ease-in
  color: $gray-dark
  user-select(none)
  default-appearance(none)

  &:hover
    background-color: $gray-lighter

  &:disabled, &.button-disabled
    cursor: not-allowed

    &:not(.button-primary):not(.button-secondary)
      color: $gray-light
      background-color: transparent

  &:focus
    outline: none

//- Button Sizing
    
.button-small
  padding: ceil($ui-padding*.15) ceil($ui-padding*.5)
  font-size: $font-small

.button-large
  padding: $ui-padding*.6 $ui-padding*2
  font-size: $font-large

//- Button Coloring

.button-primary,
.button-secondary
  color: white
  border: none

.button-primary
  background-color: $pink

  &:hover
    background-color: darken($pink, 10%)

  &:disabled, .button-disabled
    background-color: $pink-light

.button-secondary
  background-color: $blue

  &:hover
    background-color: darken($blue, 10%)

  &:disabled, .button-disabled
    background-color: $blue-light

//- Button Group

.button-group

  .button
    border-radius: 0
    margin-left: -1px

    &:first-child,
    &:first-child:only-child
      margin: 0

    &:first-child:only-child
      border-radius: $default-border-radius

    &:first-child
      border-radius: $default-border-radius 0 0 $default-border-radius

    &:last-child
      border-radius: 0 $default-border-radius $default-border-radius 0

  &.button-group-outlined
    border-radius: $default-border-radius

    .button-primary
      border: 1px solid darken($pink, 20%)

    .button-secondary
      border: 1px solid darken($blue, 20%)

@media screen and (max-width: $breakpoint-smartphone)

  .button
    display: block
    width: 100%
    margin-bottom: $space*.5

  .button-group
    
    .button
      border-radius: none
      margin: 0

      &:first-of-type
        border-radius: $default-border-radius $default-border-radius 0 0

      &:last-of-type
        border-radius: 0 0 $default-border-radius $default-border-radius

  .button-group.button-group-outlined

      .button:not(:last-of-type)
        border-bottom: none

