/*--------------------------------------------------------------------
*
* $BUTTONS
*
--------------------------------------------------------------------*/

.button
  display: inline-block
  border: none
  border-radius: $default-border-radius
  padding: ceil($ui-padding*.3) $ui-padding
  font: $font-weight-bold $font-base $font-gotham
  line-height: 1.5
  text-align: center
  cursor: pointer
  transition: all .3s ease-in 
  -webkit-transition: all .3s ease-in
  background-color: lighten($blue-saturated-lighter, 85%)
  color: $blue-saturated
  user-select(none)
  default-appearance(none)

  &:hover
    background-color: lighten($blue-saturated-lighter, 65%)

  &:disabled, &.button-disabled
    cursor: not-allowed
    color: lighten($blue-saturated-lighter, 40%)
    background-color: lighten($blue-saturated-lighter, 85%)

  &:focus
    outline: none
    
  &.button-small
    padding: ceil($ui-padding*.15) ceil($ui-padding*.5)
    font-size: $font-small

  &.button-large
    padding: $ui-padding*.6 $ui-padding*2
    font-size: $font-large

  &.button-primary, &.button-secondary, 
  &.button-primary:hover, &.button-secondary:hover
    color: white

  &.button-primary
    background-color: $pink

    &:hover
      background-color: darken($pink, 10%)

    &:disabled, .button-disabled
      background-color: $pink-light

  &.button-secondary
    background-color: $blue

    &:hover
      background-color: darken($blue, 10%)

    &:disabled, .button-disabled
      background-color: $blue-light

//- Button Group

.button-group

  .button
    border-radius: 0
    margin-left: -1px

    &:first-child:only-child
      border-radius: $default-border-radius
      margin: 0

    &:first-child
      border-radius: $default-border-radius 0 0 3px
      margin: 0

    &:last-child
      border-radius: 0 3px 3px 0

  &.button-group-outlined
    display: inline-block
    border-radius: $default-border-radius

    .button
      border: 1px solid lighten($blue-saturated-lighter, 65%)

      &.button-primary
        background-color: $pink-lighter
        border: 1px solid $pink-light
        color: $pink

        &:hover
          background-color: lighten($pink-light, 40%)

      &.button-secondary
        background-color: $blue-lighter
        border: 1px solid $blue-light
        color: $blue

        &:hover
          background-color: lighten($blue-light, 40%)

@media screen and (max-width: $breakpoint-smartphone)

  .button-group
    
    .button
      border-radius: none
      display: block
      margin: 0

      &:first-of-type
        border-radius: $default-border-radius 3px 0 0

      &:last-of-type
        border-radius: 0 0 3px 3px

  .button-group.button-group-outlined

      .button:not(:last-of-type), button:not(:last-of-type)
        border-bottom: none

