/*--------------------------------------------------------------------
*
* $BUTTONS
*
--------------------------------------------------------------------*/

.button
  display: inline-block
  border: 1px solid $gray-light
  background-color: transparent
  border-radius: 3px
  padding: $ui-padding-narrow $ui-padding-spaced
  font-weight: $font-weight-bold
  line-height: 1.5
  text-align: center
  cursor: pointer
  color: $gray-dark

  transition: all .3s ease-in 
  user-select: none
  appearance: none

  &:hover
    background-color: $gray-lighter
    color: inherit

  &:disabled, 
  &.button-disabled
    cursor: not-allowed

    &:not(.button-primary):not(.button-secondary)
      color: $gray-light
      background-color: transparent

  &:focus
    outline: none

//- Button Sizing
    
.button-small
  padding: ceil($ui-padding-narrow/2) $ui-padding-narrow
  font-size: $font-small

.button-large
  padding: $ui-padding-spaced $ui-padding-spaced*2
  font-size: $font-large

//- Button Coloring

.button-primary,
.button-secondary
  border: none

.button-primary,
.button-secondary,
.button-primary:hover,
.button-secondary:hover
  color: white

.button-primary
  background-color: $pink

  &:hover
    background-color: darken($pink, 10%)

  &:disabled, 
  .button-disabled
    background-color: $pink-light

.button-secondary
  background-color: $blue

  &:hover
    background-color: darken($blue, 10%)

  &:disabled, 
  .button-disabled
    background-color: $blue-light

//- Button Group

.button-group

  .button
    border-radius: 0
    margin-left: -1px

    &:first-child,
    &:first-child:only-child
      margin: 0

    &:first-child:only-child
      border-radius: 3px

    &:first-child
      border-radius: 3px 0 0 3px

    &:last-child
      border-radius: 0 3px 3px 0

  &.button-group-outlined
    border-radius: 3px

    .button-primary
      border: 1px solid darken($pink, 20%)

    .button-secondary
      border: 1px solid darken($blue, 20%)

@media screen and (max-width: $breakpoint-smartphone)

  .button
    display: block
    width: 100%
    margin-bottom: $space*.5

  .button-group
    
    .button
      border-radius: none
      margin: 0

      &:first-of-type
        border-radius: 3px 3px 0 0

      &:last-of-type
        border-radius: 0 0 3px 3px

  .button-group-outlined

      .button:not(:last-of-type)
        border-bottom: none

