/*--------------------------------------------------------------------
*
* $CODE
*
--------------------------------------------------------------------*/

code
  font-family: $font-monospaced
  font-size: $font-small
  padding: ceil($ui-padding-narrow/2) $ui-padding-narrow

pre
  display: block
  padding: $ui-padding-spaced
  margin-bottom: $space
  max-width: 100%
  line-height: $line-height-base
  word-break: break-all
  word-wrap: break-word
  
  code
    padding: 0
    white-space: pre-wrap

code, pre
  border-radius: 3px

.code-light
  color: black
  background: lighten($gray-lighter, 60%)

.code-dark
  color: lighten($blue-saturated-lighter, 20%)
  background: $blue-saturated