/*--------------------------------------------------------------------
*
* $DROPDOWNS
*
--------------------------------------------------------------------*/

.dropdown-standalone
  position: relative
  display: inline-block
  padding: 10px
  border: $ui-border
  border-radius: 3px

  &:hover
    .dropdown
      display: block
      position: absolute
      top: 105%
      left: 0
      min-width: 100%
      border: $ui-border
      border-radius: 3px
      background-color: white

      li:not(:last-child)
        border-bottom: inherit

      a
        padding: 10px
        display: block

  .dropdown
    display: none

  .icon-arrow-down
    border-top-color: $blue
    position: relative
    top: -2px
    margin-left: 5px