/*--------------------------------------------------------------------
*
* $DROPDOWNS
*
--------------------------------------------------------------------*/

.has-dropdown
  position: relative

  *
    display: inline-block

  .icon-arrow-down
    position: relative
    top: -2px
    margin-left: 5px

.dropdown
  padding: 0
  margin: 0
  background-color: inherit

  li
    width: 100%

@media screen and (max-width: $breakpoint-tablet)

  .dropdown
    display: block
    padding: 0 $ui-padding $ui-padding $ui-padding

@media screen and (min-width: $breakpoint-tablet+1)

  .dropdown
    display: none

  .has-dropdown:hover .dropdown
    display: block

  .has-dropdown:hover
    
    .dropdown
      position: absolute
      top: 100%
      left: 0
      min-width: 100%