/*--------------------------------------------------------------------
*
* $FORMS
*
--------------------------------------------------------------------*/
  
legend, select, 
.form-input, .form-checkbox, .form-radio
  margin-bottom: $space*.5

legend, label
  font-weight: $font-weight-bold

legend
  font-size: $font-large
  color: black

fieldset
  border: none
  padding: 0
  margin: 0

label
  display: block
  margin-bottom: 5px
  font-size: $font-small

select,
.form-input
  border: 0

select,
.form-input,
.form-radio,
.form-checkbox
  outline: 0

//- General inputs

.form-inline 
  .form-input
    display: inline-block
    padding-left: $ui-padding

.form-input
  display: block
  padding: ceil($ui-padding*.75)
  width: 100%
  border-radius: $default-border-radius
  box-shadow: 0 0 0 1px $gray-lighter
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

  &:focus
    transition: all .2s ease-in
    -webkit-transition: all .2s ease-in
    box-shadow: 0 0 0 1px $blue-light

  &:disabled
    background-color: lighten($gray-lighter, 60%)
    cursor: not-allowed

  &:required:focus
    box-shadow: 0 0 0 1px $orange-light

  &.input-invalid
    background-color: $red-lighter
    box-shadow: 0 0 0 1px $red-light
    color: lighten($red, 50%)

    &:focus
      box-shadow: 0 0 0 1px $red

  &.input-valid
    background-color: $green-lighter
    box-shadow: 0 0 0 1px $green-light
    color: lighten($green, 40%)

    &:focus
      box-shadow: 0 0 0 1px $green

textarea
  resize: none

input[type=file],
label.radio,
label.checkbox,
select
  cursor: pointer

//- Files

input[type=file]
  padding: $ui-padding
  background-color: lighten($gray-lighter, 70%)
  font-size: $font-small
  color: $gray-light

//- Selects

select
  box-shadow: 0 0 0 1px $gray-lighter
  height: 40px
  padding: ceil($ui-padding*.75)
  width: 100%
  background-color: white

  &:focus
    box-shadow: 0 0 0 1px $blue-light

  &:focus:-moz-focusring
    color: transparent
    text-shadow: 0 0 0 #000
  
//- Radio and Checkbox

.input-radio, 
.input-checkbox
  margin: 5px 0
  font-size: $font-base
  font-weight: normal

  &.disabled
    color: $gray-light
    cursor: not-allowed

  input[type=checkbox], input[type=radio]
    display: inline-block
    margin-right: 10px
