/*--------------------------------------------------------------------
*
* $FORMS
*
--------------------------------------------------------------------*/
  
legend, select, 
.form-input, .form-checkbox, .form-radio
  margin-bottom: $space*.5

legend, label
  font-weight: $font-weight-bold

legend
  font-size: $font-large
  color: black

fieldset
  border: none
  padding: 0
  margin: 0

label
  display: block
  margin-bottom: 5px
  font-size: $font-small

label, .form-input, .form-radio, .form-checkbox
  font-family: $font-gotham

//- Validation classes

input, 
textarea, 
select

  &:disabled
    cursor: not-allowed

//- General inputs

.form-input
  display: block
  padding: ceil($ui-padding*.75)
  width: 100%
  border-radius: $default-border-radius
  box-shadow: 0 0 0 2px $gray-lighter
  -webkit-appearance: none

  &:focus
    outline: none
    transition: all .2s ease-in
    -webkit-transition: all .2s ease-in
    box-shadow: 0 0 0 2px $blue-light

  &:disabled
    background-color: lighten($gray-lighter, 60%)

  &:required:focus
    box-shadow: 0 0 0 2px $orange-light

  &.input-invalid
    background-color: $red-lighter
    box-shadow: 0 0 0 2px $red-light
    color: lighten($red, 50%)

    &:focus
      box-shadow: 0 0 0 2px $red

  &.input-valid
    background-color: $green-lighter
    box-shadow: 0 0 0 2px $green-light
    color: lighten($green, 40%)

    &:focus
      box-shadow: 0 0 0 2px $green

textarea
  resize: none

input[type=file],
label.radio,
label.checkbox,
select
  cursor: pointer

//- Files

input[type=file]
  padding: $ui-padding
  background-color: lighten($gray-lighter, 70%)
  font-size: $font-small
  color: $gray-light

//- Selects

select
  border: $ui-border
  height: 30px
  width: 100%
  outline: 0

  &:focus
    box-shadow: 0 0 0 2px $blue-light
  
//- Labels

label.radio, 
label.checkbox
  margin: 5px 0
  font-size: $font-base
  font-weight: normal

  &.disabled
    color: $gray-light
    cursor: not-allowed

  input[type=checkbox], input[type=radio]
    display: inline-block
    margin-right: 10px

    &:focus
      outline: 0
