/*--------------------------------------------------------------------
*
* $FORMS
*
--------------------------------------------------------------------*/
  
legend, select, 
.form-input, .form-checkbox, .form-radio
  margin-bottom: $space*.5

legend, label
  font-weight: $font-weight-bold

legend
  font-size: $font-large
  color: black

fieldset
  border: none
  padding: 0
  margin: 0

label
  display: block
  margin-bottom: 5px
  font-size: $font-small

label, .form-input, .form-radio, .form-checkbox
  font-family: $font-gotham

.form-input
  padding: ceil($ui-padding*.75)
  width: 100%
  -webkit-appearance: none

//- Validation classes

input, 
textarea, 
select

  &:disabled
    cursor: not-allowed

.input-invalid
  background-color: $red-lighter
  border: 1px solid $red-light
  color: lighten($red, 50%)

  &:focus
    border: 1px solid $red

.input-valid
  background-color: $green-lighter
  border: 1px solid $green-light
  color: lighten($green, 40%)

  &:focus
    border: 1px solid $green

//- General inputs

input[type=text], input[type=email], 
input[type=password], input[type=search], 
input[type=date], input[type=url], 
input[type=file], textarea, select
  display: block
  border-radius: $default-border-radius
  border: $ui-border

  &:focus
    outline: none
    border: 1px solid $blue-light
    transition: all .3s ease-in
    -webkit-transition: all .3s ease-in

  &:disabled
    background-color: lighten($gray-lighter, 60%)

  &:required:focus
    border: 1px solid $orange-light

textarea
  resize: none

input[type=file],
label.radio,
label.checkbox,
select
  cursor: pointer

//- Files

input[type=file]
  padding: 15px
  background-color: lighten($gray-lighter, 70%)
  font-size: $font-small
  color: $gray-light

//- Selects

select
  border: $ui-border
  height: 30px
  width: 100%
  outline: 0
  
//- Labels

label.radio, 
label.checkbox
  margin: 5px 0
  font-size: $font-base
  font-weight: normal

  &.disabled
    color: $gray-light
    cursor: not-allowed

  input[type=checkbox], input[type=radio]
    display: inline-block
    margin-right: 10px

    &:focus
      outline: none
