/*--------------------------------------------------------------------
*
* $MEDIA
*
--------------------------------------------------------------------*/

.media-wrapper,
.media-outlined,
img
  border-radius: $default-border-radius

figure
  margin: 0

  img
    vertical-align: middle

  figcaption
    color: $gray-light
    font-size: $font-small

//- Container with background

.media-wrapper
  display: inline-block
  background-color: $blue
  cursor: pointer 

  &:hover
    img, video
      opacity: .5

//- Outlined container

.media-outlined
  padding: 5px
  border: $ui-border 