/*--------------------------------------------------------------------
*
* $MEDIA
*
--------------------------------------------------------------------*/

.media-wrapper, figure img
  display: inline-block

.media-wrapper, .figure-outlined, figure img, .media-outlined
  border-radius: $default-border-radius

figure

  img
    vertical-align: middle

  figcaption
    color: $gray-light
    font-size: $font-small

//- Container with background

a.media-wrapper
  background-color: $blue
  cursor: pointer 

  &:hover
    img, video
      opacity: .5

//- Outlined container

.media-outlined
  padding: 5px
  border: $ui-border 