/*--------------------------------------------------------------------
*
* $MESSAGES
*
--------------------------------------------------------------------*/

.message
  padding: $ui-padding-spaced
  position: relative
  alert-variant($blue-lighter, $blue)

  a
    font-weight: bold

  p:last-of-type
    margin: 0

  &:after
    border: solid transparent
    content: ''
    height: 0
    width: 0
    position: absolute
    pointer-events: none
    border-color: rgba(255, 255, 255, 0)
    border-width: 5px

.message-dismissable 
  padding-right: $ui-padding-spaced*2

.message-full-width
  text-align: center

.message-left, .message-right

  &:after
    top: 50%
    margin-top: -6px

.message-above, .message-below

  &:after      
    left: 50%
    margin-left: -6px

//- Message positioned on the left relatively to the parent
.message-left

  &:after
    left: 100%
    border-left-color: $blue-lighter      

  &.message-success
    &:after
      border-left-color: $green-lighter

  &.message-error
    &:after
      border-left-color: $red-light

  &.message-alert
    &:after
      border-left-color: $orange-lighter

//- Message positioned on the right relatively to the parent
.message-right

  &:after
    right: 100%
    border-right-color: $blue-lighter      

  &.message-success
    &:after
      border-right-color: $green-lighter

  &.message-error
    &:after
      border-right-color: $red-light

  &.message-alert
    &:after
      border-right-color: $orange-lighter

//- Message positioned below the parent
.message-below

  &:after
    border-bottom-color: $blue-lighter
    bottom: 100%

  &.message-error
    &:after
      border-bottom-color: $red-light

  &.message-success
    &:after
      border-bottom-color: $green-lighter

  &.message-alert
    &:after
      border-bottom-color: $orange-lighter

//- Message positioned above the parent
.message-above

  &:after
    border-top-color: $blue-lighter
    top: 100%

  &.message-error
    &:after
      border-top-color: $red-light

  &.message-success
    &:after
      border-top-color: $green-lighter

  &.message-alert
    &:after
      border-top-color: $orange-lighter

//- Validation messages
.message-error
  background-color: $red-light
  color: $red

  a
    color: darken($red, 20%)

    &:hover
      color: darken($red, 40%)

.message-alert
  background-color: $orange-lighter
  color: $orange

  a
    color: darken($orange, 20%)

    &:hover
      color: darken($orange, 40%)

.message-success
  background-color: $green-lighter
  color: $green

  a
    color: darken($green, 20%)

    &:hover
      color: darken($green, 40%)

//- Message iconography
.close
  display: block
  position: absolute
  top: 50%
  right: 15px
  margin-top: -15px
  cursor: pointer
  font-size: large
  font-weight: bold