/*--------------------------------------------------------------------
*
* MODALS
*
--------------------------------------------------------------------*/

.modal
  position: fixed
  top: 50%
  left: 50%
  border-radius: $default-border-radius
  z-index: 20
  transform: translate(-50%, -50%)
  -webkit-transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
  background-color: white

  &.modal-no-head
    padding: 40px 20px 20px 20px
    text-align: center
    font-size: $font-large

  .modal-close
    display: block
    position: absolute
    top: 23px
    right: 20px
    font-size: $font-small
    opacity: .2
    color: $gray

    &:hover
      opacity: 1

  h1, h2, h3, h4
    margin: 0

  .modal-head, .modal-body
    padding: 20px

  .modal-head
    margin-bottom: 20px
    border-bottom: $ui-border

  .modal-body
    padding-top: 0

    p:first-of-type
      margin-top: 0

  .modal-button-wrapper
    margin-top: 30px
    text-align: center

    button, .button
      width: 35%

    button:only-child, .button-only-child
      min-width: 60%

    button:not(:last-child), .button:not(:last-child)
      margin-right: 5px

//- Overlay

.has-modal&:before
  content: ''

.overlay, .has-modal:before
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10
  box-shadow: inset 0 0 100px rgba(0,0,0,.7)
  background-color: rgba(0,0,0,.4)

@media screen and (max-width: $breakpoint-smartphone)

  .modal
    height: 100%
    width: 100%
    top: 0
    left: 0
    margin: 0
    border-radius: 0
    transform: none
    -webkit-transform: none
    -ms-transform: none

@media screen and (min-width: $breakpoint-tablet)

  .modal
    height: 50%
    width: 50%
