/*--------------------------------------------------------------------
*
* $MODALS
*
--------------------------------------------------------------------*/

.modal
  position: fixed
  top: 50%
  left: 50%
  border-radius: 3px
  z-index: 20
  transform: translate(-50%, -50%)
  -webkit-transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
  background-color: white
  -webkit-overflow-scrolling: touch

  &.modal-no-head
    padding: $ui-padding

.modal-title
  margin: 0

.modal-head, .modal-body
  padding: $ui-padding

.modal-head
  border-bottom: $ui-border

.modal-footer
  padding: $ui-padding 0
  text-align: center
  border-top: $ui-border

  button, .button
    min-width: 120px

  button + button,
  .button + .button
    margin-left: 5px

.modal-close
  float: right
  color: $gray-light
  line-height: 1
  font-weight: bold
  font-size: $font-large

  &:hover
    color: $gray

//- Overlay

.has-modal&:before
  content: ''

.overlay, 
.has-modal:before
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10
  box-shadow: inset 0 0 100px rgba(0,0,0,.7)
  background-color: rgba(0,0,0,.4)

@media screen and (max-width: $breakpoint-smartphone)

  .modal
    height: 100%
    width: 100%
    top: 0
    left: 0
    border-radius: 0
    transform: none
    -webkit-transform: none
    -ms-transform: none

@media screen and (min-width: $breakpoint-smartphone+1) and (max-width: $breakpoint-tablet)

  .modal
    width: 80%

@media screen and (min-width: $breakpoint-tablet+1)

  .modal
    width: 50%

  .modal-close
    margin-top: 5px
