/*--------------------------------------------------------------------
*
* $NAVIGATION
*
--------------------------------------------------------------------*/

//- Top Nav

.top-nav
  margin-bottom: 30px 
  z-index: 10
  position: relative

  ul
    margin: 0

  a
    display: inline-block
    padding: $ui-padding

  label
    font-weight: normal
    font-size: $font-base

  .menu-toggle
    visibility: hidden
    position: absolute
    left: -100%

  .icon-arrow-down
    position: relative
    top: -2px

//- Top Nav Light Variation

.top-nav-light
  border-bottom: $ui-border

  label
    color: $blue

.top-nav-light,
.top-nav-light li
  background-color: white

.top-nav-light .icon-arrow-down
  border-top-color: $blue

//- Top Nav Dark Variation

.top-nav-dark

  label
    color: $blue-saturated-lighter

  a
    color: $blue-saturated-lighter

  a:hover, a.active, label
    color: lighten($blue-saturated-lighter, 40%)

.top-nav-dark,
.top-nav-dark li
  background-color: $blue-saturated

.top-nav-dark .icon-arrow-down
  border-top-color: $blue-saturated-lighter

//- Breadcrumbs

.breadcrumbs
  padding: ceil($ui-padding*.5) 0

  li:not(:first-child)
    position: relative

    &:after
      content: ''
      position: absolute
      right: 100%
      top: 1px
      height: 100%
      width: 1px
      -webkit-transform: rotate(15deg)
      -ms-transform: rotate(15deg)
      transform: rotate(15deg)
      background-color: $gray-lighter

//- Pagination

.pagination
  
  li:not(:last-child)
    border-right: $ui-border

  em[class^='icon']
    top: 1px
    position: relative

  .icon-arrow-right
    border-left: 5px solid $blue

  .icon-arrow-left
    border-right: 5px solid $blue

//- Tabs

.tabs
  border-bottom: $ui-border

  .current-item
    position: relative
    top: 1px
    border: $ui-border
    border-bottom-color: transparent
    border-radius: $default-border-radius $default-border-radius 0 0
    background-color: white

//- Side Navigation

.side-nav

  li:not(:last-child)
    a
      border-bottom: $ui-border

//- Shared

.unavailable-item
  color: $gray-light

.current-item
  color: $gray-dark
  font-weight: $font-weight-bold

.tabs, 
.side-nav,
.pagination
  a, li
    display: block

.side-nav,
.pagination

  a:hover, 
  .current-item
    background-color: lighten($gray-lighter, 80%)

.tabs a, 
.side-nav a,
.pagination a
  line-height: 2.5

.pagination,
.breadcrumbs
  display: inline-block

.pagination li,
.breadcrumbs li
  float: left

.breadcrumbs, 
.side-nav,
.pagination
  border-radius: $default-border-radius
  border: $ui-border

.breadcrumbs, 
.side-nav, 
.tabs,
.pagination
  a
    padding: 0 $ui-padding

.breadcrumbs a, 
.pagination a
  font-size: $font-small

@media screen and (max-width: $breakpoint-smartphone)

  .breadcrumbs
    padding: 0

    li, a
      display: block

    li
      border-bottom: $ui-border

      &:last-of-type
        border: none

      &:after
        display: none

    a
      padding: 5px 10px

@media screen and (max-width: $breakpoint-tablet)

  .top-nav
    
    ul
      display: none
    
    .icon-arrow-down
      display: none

    label, 
    .menu-toggle:checked ~ ul,
    .menu-toggle:checked ~ ul > li
      display: block

    label
      padding: $ui-padding $ui-padding $ui-padding 0
      text-align: right
      cursor: pointer

    .menu-toggle:checked ~ ul

      .dropdown
        display: block

        li
          float: left
          border: 0

        a 
          font-size: $font-small
          font-weight: normal

  //- Top Nav Light Variation
  .top-nav-light
    
    .menu-toggle:checked ~ ul
      > li:not(:last-child)
        border-bottom: $ui-border
  
  //- Top Nav Dark Variation

  .top-nav-dark

    .menu-toggle:checked ~ ul
      > li:not(:last-child)
        border-bottom: 1px solid $blue-saturated-light

@media screen and (min-width: $breakpoint-tablet+1)
  
  .top-nav 
    label
      display: none

    .has-dropdown
      position: relative

      &:hover .dropdown
        display: block

    .dropdown
      display: none
      position: absolute
      top: 100%
      left: 0
      min-width: 100%

  //- Top Nav Light Variation

  .top-nav-light  
    .dropdown 
      border-left: $ui-border
      border-right: $ui-border

      li
        border-bottom: $ui-border

  //- Top Nav Dark Variation

  .top-nav-dark  
    .dropdown li
        border-bottom: 1px solid $blue-saturated-light
