/*--------------------------------------------------------------------
*
* $NAVIGATION
*
--------------------------------------------------------------------*/

//- Top Nav

.top-nav
  width: 100%
  height: 40px
  line-height: 39px
  margin-bottom: 30px 
  z-index: 10
  position: relative

  &:not(.dark),
  .dropdown, &:not(.dark) a
    background-color: white

  &:not(.dark)
    border-bottom: $ui-border

  .menu-toggle
    visibility: hidden
    position: absolute
    left: -100%

  .logo
    float: left

  label
    color: $blue

  a
    display: inline-block
    padding: 0 15px

    &:hover, &.active
      color: $blue-saturated

  .dropdown
    margin: 0

  &.dark

    label
      color: $blue-saturated-lighter

    a
      color: $blue-saturated-lighter

      &:hover, &.active
        color: lighten($blue-saturated-lighter, 40%)

  &.dark, 
  &.dark .dropdown, &.dark a
    background-color: $blue-saturated

//- Breadcrumbs

.breadcrumbs
  padding: 10px 5px

  li:not(:first-child)
    position: relative

    &:after
      content: ''
      position: absolute
      right: 100%
      top: 1px
      height: 100%
      width: 1px
      -webkit-transform: rotate(15deg)
      -ms-transform: rotate(15deg)
      transform: rotate(15deg)

  a
    &.breadcrumb-current
      color: $gray
      font-weight: $font-weight-bold

//- Pagination

.pagination

  a:not([class^='icon'])
    padding: $ui-padding*.2 $ui-padding*.4

    &:hover
      color: $gray

  a[class^='icon']
    top: 2px
    position: relative

.page-current
  color: $blue

.page-unavailable
  cursor: auto

//- Tabs

.tabs
  border-bottom: $ui-border

  a
    height: 2em
    line-height: 2
    display: block

    &.active
      position: relative
      top: 2px
      border: $ui-border
      border-bottom-color: transparent
      border-radius: $default-border-radius 3px 0 0

//- Side Navigation

.side-nav
  margin: 0

  li, a
    display: block

  li:not(:last-child)
    a
      border-bottom: $ui-border

  a
    height: 35px
    line-height: 35px

    &:hover, &.active
      background-color: lighten($blue-lighter, 60%)

//- Shared

.breadcrumbs, .side-nav
  border-radius: $default-border-radius
  border: $ui-border

.breadcrumbs, .side-nav, .tabs
  a
    padding: 0 10px

.tabs a.active
  background-color: white

.breadcrumbs li:not(:first-child):after
  background-color: $gray-lighter

.tabs a.active, .top-nav a, .side-nav a.active, .breadcrumbs a.current, .pagination a.active
  font-weight: $font-weight-bold
    
.breadcrumbs a.breadcrumb-unavailable, .pagination a
  color: $gray-light

.breadcrumbs a, .pagination a
  font-size: $font-small

@media screen and (max-width: $breakpoint-smartphone)

  .breadcrumbs
    padding: 0

    li, a
      display: block

    li
      border-bottom: $ui-border

      &:last-of-type
        border: none

      &:after
        display: none

    a
      padding: 5px 10px

@media screen and (max-width: $breakpoint-tablet)

  .top-nav:not(.dark)
    
    .menu-toggle:checked ~ ul
      > li
        border-bottom: $ui-border

  .top-nav
    
    > ul, .ss-icon
      display: none

    label
      display: block
      float: right
      height: 100%
      margin-right: 15px
      cursor: pointer
      user-select: none

    .menu-toggle:checked ~ ul
      display: block
      margin-top: 40px

      > li, > li a
        display: block
        width: 100%

      > li
        float: none

      .has-dropdown 
        .dropdown
          display: block
          padding: 15px 10px

        li
          float: left
          padding-right: 20px
          line-height: 2
          border: 0

        li a 
          font-size: $font-small
          font-weight: normal

    &.dark

      .menu-toggle:checked ~ ul

        > li
          border-top: 1px solid $blue-saturated-light

          &:last-child
            border-bottom: 1px solid $blue-saturated-lighter

@media screen and (min-width: $breakpoint-desktop)
  
  .top-nav
    
    label
      display: none
    
    .unstyled > li
      float: left
    
    .has-dropdown
      position: relative

      > a
        padding-right: 35px

      .ss-icon
        position: absolute
        right: 15px
        top: 2px
        font-size: $font-smaller
        color: $blue-light

      .dropdown
        display: none

      &:hover
        .dropdown
          display: block
          position: absolute
          top: 100%
          left: 0
          min-width: 120%

          li
            display: block
            border-bottom: $ui-border

    &.dark

      .has-dropdown

        .dropdown
          li
            border-bottom: 1px solid $blue-saturated-light
