/*--------------------------------------------------------------------
*
* $PROGRESS BARS
*
--------------------------------------------------------------------*/

.progress, 
.meter
  border-radius: $default-border-radius
  line-height: 0

.progress.progress-rounded, 
.progress-rounded .meter
  border-radius: 50px

.progress
  background: lighten($gray-lighter, 50%)

  .meter
    display: inline-block
    background-color: $blue
    min-width: 50% // dummy value
    height: 100%

  //- Sizes

  &.progress-small
    height: 15px

  &.progress-large
    height: 25px

  //- Variations

  &.progress-success
    .meter
      background-color: $green

  &.progress-warning
    .meter
      background-color: $orange

  &.progress-error
    .meter
      background-color: $red
