/*--------------------------------------------------------------------
*
* PROGRESS BARS
*
--------------------------------------------------------------------*/

.progress, .meter
  border-radius: $default-border-radius
  line-height: 0

.progress.progress-rounded, .progress-rounded .meter
  border-radius: 50px

.progress
  background: lighten($gray-lighter, 50%)

  &.progress-small
    height: 15px

  &.progress-large
    height: 25px

  &.progress-success
    .meter
      background-color: $green

  &.progress-warning
    .meter
      background-color: $orange

  &.progress-error
    .meter
      background-color: $red

  .meter
    display: inline-block
    background-color: $blue
    width: 50%
    height: 100%
    -webkit-animation: progress 4s linear 1
    animation: progress 4s linear 1

@-webkit-keyframes progress
  0%
    width: 0
  100%
    width: 50%

@keyframes progress
  0%
    width: 0
  100%
    width: 50%
