/*--------------------------------------------------------------------
*
* TABLES
*
--------------------------------------------------------------------*/

table 
  width: 100%
  margin-bottom: 20px
  background-color: white
  border-collapse: inherit

  &.table-striped

    tr:nth-child(even)
      color: darken($gray-light, 20%)

  &.table-outlined
    border: 1px solid $gray-lighter
    border-radius: 3px

    tr:last-of-type td
      border: none

  &.table-with-hover tr:hover,
  &.table-striped tr:nth-child(even)
    background-color: lighten($gray-lighter, 70%)

  td, th
    text-align: left
    padding: 7px 10px

  thead 

    th
      font-weight: $font-weight-bold
      color: $gray-dark
      border-bottom: 2px solid $gray-lighter

  tbody

    tr

      &.table-cell-error
        background-color: $red-lighter
        color: $red

        a
          color: darken($red, 20%)

          &:hover
            color: darken($red, 40%)

      &.table-cell-success
        background-color: $green-lighter
        color: $green

        a
          color: darken($green, 20%)

          &:hover
            color: darken($green, 40%)

      &.table-cell-alert
        background-color: $orange-lighter
        color: $orange

        a
          color: darken($orange, 20%)

          &:hover
            color: darken($orange, 40%)

    td
      border-bottom: 1px solid $gray-lighter
      
