/*--------------------------------------------------------------------
*
* $BASE
*
--------------------------------------------------------------------*/

*, *:after, *:before
  box-sizing: border-box

html
  height: 100%

body
  min-height: 100%
  font-family: $font-gotham-rounded
  font-size: $font-base
  line-height: $line-height-base 
  color: $gray-dark
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

p
  margin-top: 0
  margin-bottom: $space

//- Selection highlight

::-moz-selection
  background-color: $blue-light
  color: white

::selection
  background-color: $blue-light
  color: white

//- Links

a
  color: $blue
  text-decoration: none
  cursor: pointer

  &:focus
    outline: none

  &:hover
    color: darken($blue, 20%)

//- Helper classes

.hide
  display: none

.cf
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both

//- Images and media

img, iframe, video
  max-width: 100%
  height: auto

@media screen and (min-width: $breakpoint-smartphone+1)

  .pull-left
    float: left

  .pull-right
    float: right