/*--------------------------------------------------------------------
*
* $BUTTONS
*
--------------------------------------------------------------------*/

.button
  display: inline-block
  border: none
  border-radius: 3px
  padding-left: $ui-padding-spaced
  padding-right: $ui-padding-spaced
  text-align: center
  cursor: pointer
  background-color: $blue

  transition-delay: 0
  transition-duration: .3s
  transition-timing-function: ease-in
  transition-property: background, border-color
  user-select: none
  appearance: none
  
  &:not([class*='button-outlined'])
    padding-top: $ui-padding-default
    padding-bottom: $ui-padding-default

  &:hover
    background-color: darken($blue, 10%)

  &:disabled, 
  .button-disabled
    background-color: $blue-light
    cursor: not-allowed

  &:focus
    outline: none

.button,
.button:hover
  color: white

//- Button Sizing
    
.button-small
  padding: ceil($ui-padding-narrow/2) $ui-padding-narrow
  font-size: $font-small

.button-large
  padding: $ui-padding-spaced $ui-padding-spaced*2
  font-size: $font-large

//- Button Coloring

.button-unstyled,
.button-unstyled:hover
  background-color: transparent

.button-unstyled
  padding: 0
  color: $blue
  
  &:hover
    color: darken($blue, 20%)

.button-neutral
  background-color: $gray-lighter
  
  &:hover
    background-color: darken($gray-lighter, 20%)
    
  &:disabled, 
  .button-disabled
    background-color: $gray-lighter
    color: $gray-light
    
    &:hover
      color: $gray-light
  
.button-neutral,
.button-neutral:hover
  color: $gray-darker

.button-approve
  background-color: $green
  
  &:hover
    background-color: darken($green, 20%)

  &:disabled, 
  .button-disabled
    background-color: $green-light
  
.button-warn
  background-color: $red
  
  &:hover
    background-color: darken($red, 20%)
    
  &:disabled, 
  &.button-disabled
    background-color: $red-light

*[class*='button-outlined']
  border-width: 2px
  border-style: solid
  padding-top: $ui-padding-default - 2px
  padding-bottom: $ui-padding-default - 2px
 
*[class*='button-outlined'],
*[class*='button-outlined']:hover
*[class*='button-outlined']:disabled
  background-color: transparent  

.button-outlined
  border-color: $blue
  color: $blue
  
  &:hover
    border-color: darken($blue, 20%)
    color: darken($blue, 20%)
    
  &:disabled
    border-color: $blue-light
    color: $blue-light

.button-outlined-neutral
  border-color: $gray-light
  color: $gray
  
  &:hover
    border-color: $gray
    color: $gray-dark
    
  &:disabled, 
  &.button-disabled
    color: lighten($gray-light, 20%)
    border-color: $gray-lighter
    
    &:hover
      color: lighten($gray-light, 20%)
      
.button-outlined-approve
  border-color: $green
  color: $green
  
  &:hover
    border-color: darken($green, 20%)
    color: darken($green, 20%)
    
  &:disabled
    border-color: $green-light
    color: $green-light

.button-outlined-warn
  border-color: $red
  color: $red
  
  &:hover
    border-color: darken($red, 20%)
    color: darken($red, 20%)   
    
  &:disabled
    border-color: $red-light
    color: $red-light

//- Button Group

.button-group

  .button
    border-radius: 0
    margin-left: -1px
    border: 1px solid darken($blue, 20%)

    &:first-child,
    &:first-child:only-child
      margin: 0

    &:first-child:only-child
      border-radius: 3px

    &:first-child
      border-radius: 3px 0 0 3px

    &:last-child
      border-radius: 0 3px 3px 0
      
  .button-neutral,
  .button-outlined
    border: 1px solid $gray-light

@media screen and (max-width: $breakpoint-smartphone)

  .button-group
    
    .button
      border-radius: none
      margin: 0
      width: 100%

      &:first-of-type
        border-radius: 3px 3px 0 0

      &:last-of-type
        border-radius: 0 0 3px 3px

    .button:not(:last-of-type)
      border-bottom: none