/*--------------------------------------------------------------------
*
* $BUTTONS
*
--------------------------------------------------------------------*/

.button
  display: inline-block
  border: none
  border-radius: 3px
  padding: $ui-padding-default $ui-padding-spaced
  text-align: center
  cursor: pointer
  background-color: $blue

  transition: all .3s ease-in 
  user-select: none
  appearance: none

  &:hover
    background-color: darken($blue, 10%)

  &:disabled, 
  .button-disabled
    background-color: $blue-light
    cursor: not-allowed

  &:focus
    outline: none

.button,
.button:hover
  color: white

//- Button Sizing
    
.button-small
  padding: ceil($ui-padding-narrow/2) $ui-padding-narrow
  font-size: $font-small

.button-large
  padding: $ui-padding-spaced $ui-padding-spaced*2
  font-size: $font-large

//- Button Coloring

.button-neutral
  background-color: $gray-lighter
  
  &:hover
    background-color: darken($gray-lighter, 20%)
    
  &:disabled, 
  .button-disabled
    background-color: $gray-lighter
    color: $gray-light
    
    &:hover
      color: $gray-light
  
.button-neutral,
.button-neutral:hover
  color: $gray-darker

.button-approve
  background-color: $green
  
  &:hover
    background-color: darken($green, 20%)

  &:disabled, 
  .button-disabled
    background-color: $green-light
  
.button-warn
  background-color: $red
  
  &:hover
    background-color: darken($red, 20%)
    
  &:disabled, 
  &.button-disabled
    background-color: $red-light

.button-outlined
  border: 1px solid $gray-light
  
  &:hover
    background-color: $gray-lighter
    
  &:disabled, 
  &.button-disabled
    color: lighten($gray-light, 20%)
    border: 1px solid $gray-lighter
    
    &:hover
      color: lighten($gray-light, 20%)

.button-outlined,
.button-outlined:disabled, 
.button-outlined.button-disabled
  background-color: transparent

.button-outlined,
.button-outlined:hover
  color: $gray

//- Button Group

.button-group

  .button
    border-radius: 0
    margin-left: -1px
    border: 1px solid darken($blue, 20%)

    &:first-child,
    &:first-child:only-child
      margin: 0

    &:first-child:only-child
      border-radius: 3px

    &:first-child
      border-radius: 3px 0 0 3px

    &:last-child
      border-radius: 0 3px 3px 0
      
  .button-neutral,
  .button-outlined
    border: 1px solid $gray-light

@media screen and (max-width: $breakpoint-smartphone)

  .button-group
    
    .button
      border-radius: none
      margin: 0
      width: 100%

      &:first-of-type
        border-radius: 3px 3px 0 0

      &:last-of-type
        border-radius: 0 0 3px 3px

    .button:not(:last-of-type)
      border-bottom: none