/*--------------------------------------------------------------------
*
* $DROPDOWNS
*
--------------------------------------------------------------------*/

.dropdown-standalone
  position: relative
  display: inline-block
  cursor: pointer
  padding: $ui-padding-default
  border-radius: 3px
  
  &:hover
    border-radius: 3px 3px 0 0
    
    .dropdown
      display: block
      position: absolute
      top: 100%
      left: 0
      width: 100%
      border-radius: 0 0 3px 3px

      a
        padding: $ui-padding-default
        display: block

  .dropdown
    display: none

  .icon-arrow-down
    position: relative
    top: -2px
    margin-left: 5px

.dropdown-outlined,
.dropdown-outlined .dropdown
  border: $ui-border

.dropdown-standalone.dropdown-outlined
  .dropdown
    width: 101%
    left: -1px

.dropdown-outlined
  
  .dropdown
    background-color: white
    
    li:not(:last-child)
      border-bottom: $ui-border

.dropdown-coloured,
.dropdown-coloured .dropdown
  background-color: $blue
  
.dropdown-coloured
  
  .button-unstyled,
  .dropdown a
    color: white

  .icon-arrow-down
    border-top-color: white
    
  .dropdown
    
    li:not(:last-child)
      border-bottom: 1px solid darken($blue, 10%)
      
    a:hover
      color: $blue-lighter

.dropdown-neutral,
.dropdown-neutral .dropdown
  background-color: $gray-lighter

.dropdown-neutral
  
  a
    color: $gray-dark
    
  a:hover,
  .button-unstyled:hover
    color: $gray-darker
    
  .icon-arrow-down
    border-top-color: $gray-dark
  
  .dropdown
  
    li:not(:last-child)
      border-bottom: 1px solid $gray-light