/*--------------------------------------------------------------------
*
* $FORMS
*
--------------------------------------------------------------------*/

select, 
.form-input, 
.form-checkbox, 
.form-radio
  margin-bottom: $space*.5

legend, label
  font-weight: $font-weight-bold

legend
  padding: 0 $ui-padding-spaced
  font-size: $font-large
  color: black

fieldset
  border: $ui-border
  border-radius: 3px
  padding: $ui-padding-extra-spaced
  margin: 0 0 $space 0

label
  display: block
  margin-bottom: 5px
  font-size: $font-small
  cursor: pointer

select,
.form-input,
.form-radio,
.form-checkbox
  outline: 0

//- General inputs

.form-input
  display: block
  padding: $ui-padding-default
  width: 100%
  border-radius: 3px
  border: $ui-border
  -webkit-appearance: none

  &:focus
    transition: all .2s ease-in
    border: 1px solid $blue-light

  &:disabled
    background-color: lighten($gray-lighter, 80%)
    cursor: not-allowed

  &:required:focus
    border: 1px solid $orange-light

  &.input-invalid
    border: 1px solid $red-light
    color: lighten($red, 50%)

    &:focus
      border: 1px solid $red

  &.input-valid
    border: 1px solid $green-light
    color: lighten($green, 40%)

    &:focus
      border: 1px solid $green

textarea
  resize: none
  min-height: 90px

input[type=file],
label.radio,
label.checkbox,
select
  cursor: pointer

//- Files

input[type=file]
  padding: $ui-padding-default
  background-color: lighten($gray-lighter, 70%)
  font-size: $font-small
  color: $gray-light

//- Selects

select
  border: $ui-border
  height: 40px
  padding: $ui-padding-default
  width: 100%
  background-color: white

  &:focus
    border: 1px solid $blue-light

  &:focus:-moz-focusring
    color: transparent
    text-shadow: 0 0 0 #000
  
//- Radio and Checkbox

.input-radio, 
.input-checkbox
  margin: 5px 0
  font-size: $font-base
  font-weight: normal

  &.disabled
    color: $gray-light
    cursor: not-allowed

  input[type=checkbox], 
  input[type=radio]
    display: inline-block
    margin-right: 10px

@media screen and (min-width: $breakpoint-tablet)

  .form-inline 
    
    .form-element
      display: inline-block
      vertical-align: bottom

    .form-element:not(:first-of-type)
      padding-left: $ui-padding-narrow

    .form-input,
    .input-checkbox,
    .input-radio, 
    select
      margin: 0