/*--------------------------------------------------------------------
*
* $GRID
*
--------------------------------------------------------------------*/

.container
  margin: 0 auto

.grid-flex-container
  padding: 0
  list-style: none
  display: flex
  -webkit-flex-flow: row wrap

.grid-flex-cell
  margin-bottom: $space

@media screen and (max-width: $breakpoint-smartphone)

  .container
    width: $grid-width-mobile

  .grid-flex-cell
    flex: 0 0 100%

@media screen and (min-width: $breakpoint-smartphone+1)

  .grid-flex-cell
    flex: 1
    margin-left: $space
    padding: $ui-padding-spaced

  .grid-flex-cell-1of2,
  .grid-flex-cell-1of3,
  .grid-flex-cell-1of4
    flex: none

  .grid-flex-cell-1of2
    width: 50%

  .grid-flex-cell-1of3
    width: ceil(100%/3)

  .grid-flex-cell-1of4
    width: 25%

  .grid-container-flex
    margin-left: -($space)

@media screen and (min-width: $breakpoint-smartphone+1) and (max-width: $breakpoint-desktop)

  .container
    width: $grid-width-tablet

@media screen and (min-width: $breakpoint-desktop+1)

  .container
    width: $grid-width-desktop