/*--------------------------------------------------------------------
*
* $GRID
*
--------------------------------------------------------------------*/

.container
  margin: 0 auto

.grid-flex-container
  margin: "%s 0 %s %s" % ($space*-1) $space ($space*-1)
  list-style: none
  display: flex
  flex-flow: row wrap
  -webkit-flex-flow: row wrap

[class^="grid-flex-cell"],[class*=" grid-flex-cell"]
  padding: $space 0 0 $space

@media screen and (max-width: $breakpoint-mid-mobile)

  .container
    width: $grid-width-mobile

  [class^="grid-flex-cell"],[class*=" grid-flex-cell"]
    flex: 0 0 100%

@media screen and (min-width: $breakpoint-mid-mobile+1)

  [class^="grid-flex-cell"],[class*=" grid-flex-cell"]
    flex: 1

  .grid-flex-cell-1of2,
  .grid-flex-cell-1of3,
  .grid-flex-cell-1of4
    flex: none

  .grid-flex-cell-1of2
    width: 50%

  .grid-flex-cell-1of3
    width: "%s" % (100% / 3)

  .grid-flex-cell-1of4
    width: 25%

  .grid-flex-cell-centered

    margin-left: auto
    margin-right: auto

    :last-child
      float: none

@media screen and (min-width: $breakpoint-smartphone+1) and (max-width: $breakpoint-desktop)

  .container
    width: $grid-width-tablet

@media screen and (min-width: $breakpoint-desktop+1)

  .container
    width: $grid-width-desktop
