/*--------------------------------------------------------------------
*
* $GRID
*
--------------------------------------------------------------------*/

.grid-container-flex
  padding: 0
  list-style: none
  display: flex
  -webkit-flex-flow: row wrap

  .grid-flex-cell
    margin-bottom: $space
    padding: $ui-padding-spaced

.container
  margin: 0 auto

@media screen and (max-width: $breakpoint-smartphone)

  .container
    width: $grid-width-mobile

  .grid-flex-cell
    flex: 0 0 100%

@media screen and (min-width: $breakpoint-smartphone+1)

  .grid-flex-cell
    flex: 1
    margin-left: $space

  .grid-container-flex
    margin-left: -($space)

@media screen and (min-width: $breakpoint-smartphone+1) and (max-width: $breakpoint-desktop)

  .container
    width: $grid-width-tablet

@media screen and (min-width: $breakpoint-desktop+1)

  .container
    width: $grid-width-desktop