/*--------------------------------------------------------------------
*
* $LISTS
*
--------------------------------------------------------------------*/

ul, ol
  margin: 0 0 $space 0
  padding-left: $ui-padding-extra-spaced

  li > ul,
  li > ol
    margin-top: $ui-padding-default
    margin-bottom: $ui-padding-default

  li ul
    li
      list-style: circle 

  li li ul
    li
      list-style: square

  li
    margin-bottom: ($ui-padding-default/2)

ul
  li
    list-style: disc

.list-unstyled
  padding-left: 0

  li
    list-style: none

.list-inline
  li
    display: inline-block

dl
  dt
    font-weight: $font-weight-medium
    color: black
  dd
    margin: 0
