/*--------------------------------------------------------------------
*
* $NAVIGATION
*
--------------------------------------------------------------------*/

//- Top Nav

.top-nav
  margin-bottom: $space

  ul
    margin: 0

  li
    padding: $ui-padding-spaced

  a
    display: inline-block

  label
    font-weight: normal
    font-size: $font-base
    line-height: 1

  .menu-toggle
    visibility: hidden
    position: absolute
    left: -100%

  .icon-arrow-down
    position: relative
    top: -2px
    margin-left: 5px

//- Top Nav Light Variation

.top-nav-light
  border-bottom: $ui-border

  label
    color: $blue

.top-nav-light,
.top-nav-light li
  background-color: white

//- Top Nav Dark Variation

.top-nav-dark

  label
    color: $blue-saturated-lighter

  a
    color: $blue-saturated-lighter

  a:hover, a.active, label
    color: lighten($blue-saturated-lighter, 40%)

.top-nav-dark,
.top-nav-dark li
  background-color: $blue-saturated

.top-nav-dark .icon-arrow-down
  border-top-color: $blue-saturated-lighter

//- Breadcrumbs

.breadcrumbs
  padding: $ui-padding-default 0

  li
    color: $gray-light

  a
    padding: 0 $ui-padding-default

//- Pagination

.pagination
  
  li:not(:last-child)
    border-right: $ui-border

  em[class^='icon'],em[class*=' icon']
    top: 1px
    position: relative

  .icon-arrow-right
    border-left: 5px solid $blue

  .icon-arrow-left
    border-right: 5px solid $blue

//- Tabs

.tabs
  border-bottom: $ui-border
  
  a
    display: block

//- Side Navigation

.side-nav

  li:not(:last-child)
    a
      border-bottom: $ui-border

//- Shared

.unavailable-item
  color: $gray-light

  &:not([href]),
  &:not([href]):hover
    color: $gray-light
    cursor: default
    pointer-events: none

.current-item
  color: $gray-dark
  font-weight: $font-weight-bold

.side-nav,
.pagination
  a, li
    display: block

.side-nav,
.pagination

  a:hover:not(.unavailable-item),
  .current-item
    background-color: lighten($gray-lighter, 80%)

.pagination,
.breadcrumbs
  display: inline-block

.pagination li,
.breadcrumbs li
  float: left

.breadcrumbs, 
.side-nav,
.pagination
  border-radius: 3px
  border: $ui-border

.side-nav, 
.pagination
  a
    padding: $ui-padding-default $ui-padding-spaced

.breadcrumbs a, 
.pagination a
  font-size: $font-small

@media screen and (max-width: $breakpoint-smartphone)

  .tabs
    
    a
      position: relative
      padding: $ui-padding-default

@media screen and (min-width: $breakpoint-smartphone+1)

  .tabs
    
    a
      padding: $ui-padding-default $ui-padding-spaced

    .current-item
      position: relative
      top: 1px
      border: $ui-border
      border-bottom-color: transparent
      border-radius: 3px 3px 0 0
      background-color: white

@media screen and (max-width: $breakpoint-tablet)

  .top-nav
    
    ul
      display: none
      
      > li 
        padding: $ui-padding-default
    
    .icon-arrow-down
      display: none

    label, 
    .menu-toggle:checked ~ ul,
    .menu-toggle:checked ~ ul > li
      display: block

    label
      padding: $ui-padding-spaced $ui-padding-spaced $ui-padding-spaced 0
      margin-bottom: 0
      text-align: right
      cursor: pointer

    .menu-toggle:checked ~ ul

      .dropdown
        display: block
        z-index: 1000

        li
          padding: $ui-padding-narrow $ui-padding-spaced
          float: left
          border: 0

        a 
          font-size: $font-small
          font-weight: normal

  //- Top Nav Light Variation
  .top-nav-light
    
    .menu-toggle:checked ~ ul
      > li:not(:last-child)
        border-bottom: $ui-border
  
  //- Top Nav Dark Variation

  .top-nav-dark

    .menu-toggle:checked ~ ul
      > li:not(:last-child)
        border-bottom: 1px solid $blue-saturated-light

@media screen and (min-width: $breakpoint-tablet+1)
  
  .top-nav 
    label
      display: none

    .has-dropdown
      position: relative

      &:hover .dropdown
        display: block

    .dropdown
      display: none
      position: absolute
      top: 100%
      left: 0

    .dropdown li
      display: block

  //- Top Nav Light Variation

  .top-nav-light  
    .dropdown 
      border-left: $ui-border
      border-right: $ui-border

      li
        border-bottom: $ui-border

  //- Top Nav Dark Variation

  .top-nav-dark  
    .dropdown li
        border-bottom: 1px solid $blue-saturated-light
