/*--------------------------------------------------------------------
*
* $PROGRESS BARS
*
--------------------------------------------------------------------*/

.progress, 
.meter
  border-radius: 3px
  line-height: 0

.progress.progress-rounded, 
.progress-rounded .meter
  border-radius: 50px

.progress
  border: $ui-border
  background-color: lighten($gray-lighter, 90%)

  .meter
    display: inline-block
    background-color: $blue
    height: 100%

//- Sizes

.progress-small
  height: 15px

.progress-large
  height: 25px

//- Variations

.progress-success
  .meter
    background-color: $green

.progress-warning
  .meter
    background-color: $orange

.progress-error
  .meter
    background-color: $red