/*--------------------------------------------------------------------
*
* $TYPOGRAPHY
*
--------------------------------------------------------------------*/

//- Headings

h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: $space
  line-height: $line-height-heading

h1, h2, h3, h4, h5, h6, strong
  color: black
  font-weight: $font-weight-medium

h1
  font-size: $font-h1

h2
  font-size: $font-h2

h3
  font-size: $font-h3

h4 
  font-size: $font-h4

h5
  font-size: $font-h5

h6
  font-size: $font-h6
  text-transform: uppercase
  color: $gray

//- Text manipulations

abbr
  color: $gray
  border-bottom: 1px dotted $gray-light

small
  font-size: $font-small

blockquote
  margin: $space 0
  padding: 0 $ui-padding-spaced
  color: $gray
  font: italic $font-large $font-sentinel

  p
    margin: 0

  footer
    margin-top: $space*.5
    font-size: $font-medium
    color: lighten($gray, 40%)

    &:before
      content: '\2014 \00A0'

.blockquote-centered
  text-align: center

@media screen and (max-width: $breakpoint-desktop-1)

  h1
    font-size: $mobile-font-h1

  h2
    font-size: $mobile-font-h2

  h3
    font-size: $mobile-font-h3

  h4 
    font-size: $mobile-font-h4

  h5
    font-size: $mobile-font-h5

  h6
    font-size: $mobile-font-h6

  h5, h6
    text-transform: uppercase