// Buttons

button
  border: none

.button, a.button
  display: inline-block
  border-radius: 3px
  padding: 6px 15px
  font-size: $font-base
  font-weight: $font-weight-bold
  text-align: center
  line-height: 1.5
  user-select()
  cursor: pointer
  -webkit-appearance: none
  transition: all .3s ease-in 
  -webkit-transition: all .3s ease-in
  background-color: lighten($blue-saturated-lighter, 85%)
  color: $blue-saturated

  &:hover
    background-color: lighten($blue-saturated-lighter, 65%)

  &:disabled, &.button-disabled
    cursor: not-allowed
    color: lighten($blue-saturated-lighter, 40%)
    background-color: lighten($blue-saturated-lighter, 85%)

  &:focus
    outline: none
    
  &.button-small
    padding: 3px 8px
    font-size: $font-small

  &.button-large
    padding: 10px 20px
    font-size: $font-large

  &.button-primary, &.button-secondary, 
  &.button-primary:hover, &.button-secondary:hover
    color: white

  &.button-primary
    background-color: $pink

    &:hover
      background-color: darken($pink, 10%)

    &:disabled, .button-disabled
      background-color: $pink-light

  &.button-secondary
    background-color: $blue

    &:hover
      background-color: darken($blue, 10%)

    &:disabled, .button-disabled
      background-color: $blue-light

.button-group

  .button, button
    border-radius: 0
    margin-left: -1px

    &:first-child:only-child
      border-radius: 3px
      margin: 0

    &:first-child
      border-radius: 3px 0 0 3px
      margin: 0

    &:last-child
      border-radius: 0 3px 3px 0

  &.button-group-outlined
    display: inline-block
    border-radius: 3px

    button, .button
      border: 1px solid lighten($blue-saturated-lighter, 65%)

      &.button-primary
        background-color: $pink-lighter
        border: 1px solid $pink-light
        color: $pink

        &:hover
          background-color: lighten($pink-light, 40%)

      &.button-secondary
        background-color: $blue-lighter
        border: 1px solid $blue-light
        color: $blue

        &:hover
          background-color: lighten($blue-light, 40%)

@media screen and (max-width: 500px)

  .button-group
    
    button, .button
      border-radius: none
      display: block
      margin: 0

      &:first-of-type
        border-radius: 3px 3px 0 0

      &:last-of-type
        border-radius: 0 0 3px 3px

  .button-group.button-group-outlined

      .button:not(:last-of-type), button:not(:last-of-type)
        border-bottom: none

