// Code

@import 'globals/_colors'

code
  font-family: Menlo, Monaco, Consolas, monospace
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  overflow-x: scroll

  &.inline-light, &.inline-dark
    white-space: nowrap
    border: none
    padding: .154em .308em
    font-size: .8125em

  &.inline-light
    color: black
    background: lighten($gray-lighter, 60%)

  &.inline-dark
    color: $gray-light
    background: $blue-saturated-dark

pre
  max-width: 100%
  overflow: hidden

  code
    display: block
    padding: 20px
    line-height: 1.5

// &yet light

pre
  code
    color: $gray-darker
    background: lighten($gray-lighter, 90%)
    border: 1px solid $gray-lighter

.comment,
.template_comment,
.diff .header,
.javadoc
  color: darken($gray-light, 40%)

.keyword, .css .rule .keyword, .at_rule, .winutils, .javascript .title,
.nginx .title, .subst, .request, .status
  color: $blue

.string, .tag .value, .phpdoc, .tex .formula
  color: darken($pink, 10%)

.title, .coffeescript .params, .scss .preprocessor
  color: lighten($blue-saturated-lighter, 30%)
  font-weight: bold

.class .title, .haskell .type, .vhdl .literal, .tex .command,
.tag, .tag .title, .rules .property, .django .tag .keyword,
.built_in, .lisp .title, .clojure .built_in
  color: $gray

.attribute, .variable, .lisp .body, .preprocessor, .pragma, .pi, .doctype, .shebang, .cdata
  color: lighten($gray, 10%)

.regexp, .addition
  color: $green

.symbol, .ruby .symbol .string, .lisp .keyword, .tex .special, .prompt, .deletion
  color: darken($pink, 30%)

.diff .change
  background: $orange