// Forms

form
  legend
    display: block
    color: black
    width: 100%
    margin-bottom: 1.25em
    font-size: $font-large
    border-bottom: 1px solid $gray-lighter

  fieldset
    border: none
    padding: 0
    margin: 0

  label
    display: block
    margin-bottom: 5px
    font-weight: $font-weight-bold
    font-size: $font-small

input[type=text], input[type=email], input[type=password], input[type=search], input[type=date], input[type=url], input[type=file], textarea
  margin-bottom: 10px
  width: 100%
  -webkit-appearance: none
  font-size: $font-base
  line-height: inherit

input[type=text], input[type=email], input[type=password], input[type=search], 
input[type=date], input[type=url], input[type=file], textarea, select, input[type=checkbox], input[type=radio]

  &:disabled
    cursor: not-allowed

input[type=text], input[type=email], input[type=password], input[type=search], input[type=date], input[type=url], input[type=file], textarea

  &.input-invalid
    background-color: $red-lighter
    border: 2px solid $red-light
    color: lighten($red, 50%)

    &:focus
      border: 2px solid $red

  &.input-valid
    background-color: $green-lighter
    border: 2px solid $green-light
    color: lighten($green, 40%)

    &:focus
      border: 2px solid $green

input[type=text], input[type=email], input[type=password], input[type=search], input[type=date], input[type=url], input[type=file], textarea, select
  display: block
  border-radius: 3px
  border: 2px solid $gray-lighter

  &:focus
    outline: none
    border: 2px solid $blue-light
    transition: all .3s ease-in
    -webkit-transition: all .3s ease-in

  &:disabled
    background-color: lighten($gray-lighter, 60%)

  &:required:focus
    border: 2px solid $orange-light

input[type=text], input[type=email], input[type=password], input[type=search], input[type=date], input[type=url]
  padding: 10px 12px

textarea
  padding: 10px
  resize: none

input[type=file]
  padding: 15px
  background-color: lighten($gray-lighter, 70%)
  font-size: $font-small
  color: $gray-light
  line-height: 1

select
  border: 1px solid $gray-lighter
  height: 30px
  width: 100%
  margin: 20px 0

  
label.radio, label.checkbox
  margin: 5px 0
  font-size: $font-base
  font-weight: normal
  cursor: pointer

  &.disabled
    color: $gray-light
    cursor: not-allowed

  input[type=checkbox], input[type=radio]
    display: inline-block
    margin-right: 10px

    &:focus
      outline: none
