// Modals

.modal
  position: absolute
  top: 30%
  left: 50%
  margin-left: -15%
  border-radius: 3px
  z-index: 20
  width: 30%
  background-color: white

  &.modal-no-head
    padding: 40px 20px 20px 20px
    text-align: center
    font-size: $font-size-large

  .modal-close
    display: block
    position: absolute
    top: 23px
    right: 20px
    font-size: $font-size-small
    opacity: .2
    color: $gray

    &:hover
      opacity: 1

  h1, h2, h3, h4
    margin: 0

  .modal-head, .modal-body
    padding: 20px

  .modal-head
    margin-bottom: 20px
    border-bottom: 1px solid $gray-lighter

  .modal-body
    padding-top: 0

    p:first-of-type
      margin-top: 0

  .modal-button-wrapper
    margin-top: 30px
    text-align: center

    button, .button
      width: 35%

    button:only-child, .button-only-child
      min-width: 60%

    button:not(:last-child), .button:not(:last-child)
      margin-right: 5px

@media screen and (max-width: 600px)

  .modal
    position: fixed
    height: 100%
    width: 100%
    top: 0
    left: 0
    margin: 0
    border-radius: 0

@media screen and (min-width: 601px) and (max-width: 800px)

  .modal
    top: 30%
    left: 50%
    margin-left: -40%
    width: 80%

@media screen and (min-width: 801px)

  .modal
    top: 30%
    left: 50%
    margin-left: -20%
    width: 40%

// Overlay

.has-modal&:before
  content: ''

.overlay, .has-modal:before
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10
  box-shadow: inset 0 0 100px rgba(0,0,0,.7)
  background-color: rgba(0,0,0,.4)
