@import colors

/* &yet dark */
.andyet-comment, pre .comment, pre .title
  color: $gray

.andyet-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo
  color: $red

.andyet-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant
  color: $orange

.andyet-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute
  color: $orange-light

.andyet-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata
  color: $green

.andyet-lightblue, pre .css .hexcolor
  color: $blue-lighter

.andyet-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title
  color: $blue

.andyet-purple, pre .keyword, pre .javascript .function
  color: $pink

pre code
  display: block
  background: black
  color: $gray-lighter
  font-family: Menlo, Monaco, Consolas, monospace
  line-height: 1.5
  padding: 10px
