@import colors

pre
  max-width: 100%
  overflow: hidden

  code
    display: block
    padding: 20px
    borderbox()
    border: none
    color: $gray-light
    background: $blue-saturated-dark
    font-family: Menlo, Monaco, Consolas, monospace
    line-height: 1.5
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased

// &yet dark

.comment,
.template_comment,
.diff .header,
.javadoc
  color: darken($gray-light, 40%)

.keyword, .css .rule .keyword, .at_rule, .winutils, .javascript .title,
.nginx .title, .subst, .request, .status
  color: $blue-saturated-lighter

.string, .tag .value, .phpdoc, .tex .formula
  color: darken($pink, 10%)

.title, .coffeescript .params, .scss .preprocessor
  color: lighten($blue-saturated-lighter, 30%)
  font-weight: bold

.class .title, .haskell .type, .vhdl .literal, .tex .command,
.tag, .tag .title, .rules .property, .django .tag .keyword,
.built_in, .lisp .title, .clojure .built_in
  color: white

.attribute, .variable, .lisp .body, .preprocessor, .pragma, .pi, .doctype, .shebang, .cdata
  color: lighten($gray-light, 10%)

.regexp, .addition
  color: $green

.symbol, .ruby .symbol .string, .lisp .keyword, .tex .special, .prompt, .deletion
  color: darken($pink, 30%)

.diff .change
  background: $orange
