// Messages

.message
  padding: 10px 15px
  position: relative
  background-color: $blue-lighter
  color: $blue

  &:after
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none
    border-color: rgba(136, 183, 213, 0)
    border-width: 6px

  &.left, &.right

    &:after
      top: 50%
      margin-top: -6px

  &.left

    &:after
      left: 100%
      border-left-color: $blue-lighter      

    &.success
      &:after
        border-left-color: $green-lighter

    &.error
      &:after
        border-left-color: $pink-lighter

    &.alert
      &:after
        border-left-color: $orange-lighter

  &.right

    &:after
      right: 100%
      border-right-color: $blue-lighter      

    &.success
      &:after
        border-right-color: $green-lighter

    &.error
      &:after
        border-right-color: $pink-lighter

    &.alert
      &:after
        border-right-color: $orange-lighter

  &.above, &.below

    &:after      
      left: 50%
      margin-left: -6px

  &.above

    &:after
      border-bottom-color: $blue-lighter
      bottom: 100%

    &.error
      &:after
        border-bottom-color: $pink-lighter

    &.success
      &:after
        border-bottom-color: $green-lighter

    &.alert
      &:after
        border-bottom-color: $orange-lighter

  &.below

    &:after
      border-top-color: $blue-lighter
      top: 100%

    &.error
      &:after
        border-top-color: $pink-lighter

    &.success
      &:after
        border-top-color: $green-lighter

    &.alert
      &:after
        border-top-color: $orange-lighter

  a
    font-weight: $font-weight-bold
    color: $blue-saturated

    &:hover
      color: $blue-saturated-darker

  p:last-of-type
    margin: 0

  .ss-icon.ss-delete
    display: block
    position: absolute
    top: 50%
    right: 15px
    margin-top: -7px
    cursor: pointer

  &.error
    background-color: $pink-lighter
    color: $red

    a
      color: darken($red, 20%)

      &:hover
        color: darken($red, 40%)

    .ss-delete
      color: $red-light

      &:hover
        color: $red

  &.alert
    background-color: $orange-lighter
    color: $orange

    .ss-delete
      color: $orange-light

      &:hover
        color: $orange

    a
      color: darken($orange, 20%)

      &:hover
        color: darken($orange, 40%)

  &.success
    background-color: $green-lighter
    color: $green

    .ss-delete
      color: $green-light

      &:hover
        color: $green

    a
      color: darken($green, 20%)

      &:hover
        color: darken($green, 40%)

  &.has-icon 
    padding: 10px 35px 10px 15px

  &.full-width
    text-align: center

    &.has-icon
      padding: 10px 35px

