// Navigation

nav ul
  margin: 0

  li
    list-style-type: none

  li, a
    display: inline-block

// Top Nav

.top-nav
  width: 100%
  height: 40px
  line-height: 40px
  margin-bottom: 30px

  li
    padding: 0
    float: left

  a
    padding: 0 15px

    &:hover, &.active
      background-color: lighten($blue-lighter, 60%)

  .has-dropdown
    position: relative
    
    a
      padding-right: 35px

    &:hover .dropdown
      display: block

    .ss-icon
      position: absolute
      right: 15px
      top: 2px
      font-size: $font-size-smaller
      color: $blue-light

    .dropdown
      display: none
      position: absolute
      top: 100%
      left: 0
      box-shadow: 0 3px 10px lighten($gray-lighter, 50%)
      z-index: 10

      li
        display: block
        
        &:not(:last-child)
          border-bottom: 1px solid $gray-lighter

  &.dark
    background-color: $blue-saturated

    li:not(:first-child)
      border-left: 1px solid $blue-saturated-light

    a
      color: $blue-saturated-lighter

      &:hover, &.active
        background-color: $blue-saturated-light
        color: lighten($blue-saturated-lighter, 40%)

    .has-dropdown

      .dropdown
        background-color: $blue-saturated
        box-shadow: none

        li
          border-bottom: 1px solid $blue-saturated-light

      .ss-icon
        color: $blue-saturated-lighter

// Breadcrumbs

.breadcrumbs
  padding: 10px 0
  box-shadow: inset 0 -1px 2px lighten($gray-lighter, 50%)

  li:not(:first-child)
    position: relative

    &:after
      content: ''
      position: absolute
      right: 100%
      top: 0
      height: 100%
      width: 1px
      -webkit-transform: rotate(15deg)
      -ms-transform: rotate(15deg)
      transform: rotate(15deg)

  a
    &.current
      color: $gray

// Pagination

.pagination

  a
    padding: 3px 8px

    &:hover
      color: $gray

    &.active
      background-color: $blue-lighter
      color: $blue

    &.ss-icon
      font-size: 8px

    &.unavailable
      cursor: auto

// Tabs

.tabs
  border-bottom: 1px solid $gray-lighter

  a
    height: 35px
    line-height: 35px

    &.active
      position: relative
      top: 1px
      border: 1px solid $gray-lighter
      box-shadow: inset 0 1px 2px lighten($gray-lighter, 50%)
      border-bottom-color: transparent
      border-radius: 3px 3px 0 0

// Side Navigation

.side-nav
  box-shadow: inset 0 -1px 2px lighten($gray-lighter, 50%)

  li, a
    display: block

  li:not(:last-child)
    a
      border-bottom: 1px solid $gray-lighter

  a
    height: 35px
    line-height: 35px

    &:hover, &.active
      background-color: lighten($blue-lighter, 60%)

// Shared

.breadcrumbs, .side-nav
  borderbox()
  border-radius: 3px
  border: 1px solid $gray-lighter

.breadcrumbs, .side-nav, .tabs
  a
    padding: 0 10px

.dropdown, .tabs a.active
  background-color: white

.breadcrumbs li:not(:first-child):after, 
.pagination a:not(.active):hover
  background-color: $gray-lighter

.tabs a.active, .top-nav a, .side-nav a.active, .breadcrumbs a.current, .pagination a.active
  font-weight: $font-weight-bold
    
.breadcrumbs a.unavailable, .pagination a
  color: $gray-light

.breadcrumbs a, .pagination a
  font-size: $font-size-small

@media screen and (max-width: 500px)

  .breadcrumbs
    padding: 0

    li, a
      display: block

    li
      border-bottom: 1px solid $gray-lighter

      &:last-of-type
        border: none

      &:after
        display: none

    a
      padding: 5px 10px

  .top-nav
    height: auto

    .dropdown, li, a
      display: block
      width: 100%

    li
      float: none
      border-bottom: 1px solid $gray-lighter

    > li
      border-left: none

    li, a
      borderbox()

    &.dark
      
      li
        border-bottom: 1px solid $blue-saturated-light

@media screen and (min-width: 501px)

  .top-nav
    
    > li:not(:first-child)
      border-left: 1px solid $gray-lighter
