// Variables

// Font families

$font-family-gotham = 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif
$font-family-helvetica = 'Helvetica Neue', Helvetica, Arial, sans-serif

// Font sizes

$font-size-large = 1.125em
$font-size-base = 1em
$font-size-small = .875em
$font-size-smaller = .625em

$font-size-h1 = 1.875em
$font-size-h2 = 1.5em
$font-size-h3 = 1.125em
$font-size-h4 = .875em

$line-height-base = 1.5
$line-height-headings = 1.3

$font-weight-bold = 800