body
  font: $font-size-base/$line-height-base $font-family-helvetica
  // font: $font-size-base/$line-height-base $font-family-gotham
  color: $gray-dark
  background: white

a
  color: $blue
  text-decoration: none
  cursor: pointer

  &:hover 
    color: darken($blue, 20%)

strong
  font-weight: $font-weight-bold

em
  font-style: italic

abbr
  color: $gray-dark
  border-bottom: 1px dotted $gray-light

small
  font-size: $font-size-small

blockquote
  margin: 20px 0
  padding: 15px 20px
  border-left: 5px solid $gray-light
  background: $gray-lighter

  p
    margin: 0 0 10px 0
    font-size: $font-size-base

    &:last-child
      margin-bottom: 0

  small
    font-size: $font-size-small
    color: $gray-light

    &:before
      content: '\2014 \00A0'

  &.blue
    border-left: 5px solid $blue-light
    background: $blue-lighter
    color: $blue

    small
      color: $blue-light

ul, ol
  margin: 0 0 20px 20px
  padding: 0

  li ul, li ol
    margin-bottom: 0
    li
      list-style-type: circle

ul
  li
    list-style-type: disc

  &.unstyled
    margin: 0

    li
      display: inline-block
      list-style-type: none

ol
  li
    list-style-type: decimal



