// Blues

$blue-saturated-darker = #0B1316
$blue-saturated-dark = #0f2034
$blue-saturated = #192a47
$blue-saturated-light = #34465a
$blue-saturated-lighter = #6c7f95

$blue = #12acef
$blue-light = #b3eaff
$blue-lighter = #F2FBFE

// Monochromatic

$gray-dark = #2d2d2d
$gray = #565656
$gray-light = #878787
$gray-lighter = #eeeeee

// Pinks

$pink = #ec008c
$pink-light = #f8bee0
$pink-lighter = #fce8f1

// Greens

$green = #43bb6e
$green-light = lighten($green, 70%)
$green-lighter = lighten($green, 94%)

// Reds

$red = #de0a32
$red-light = lighten($red, 80%)
$red-lighter = lighten($red, 97%)

// Orange

$orange = #f18902
