@import 'colors'
@import 'variables'
@import 'base'
@import 'buttons'

header
  padding: 30px 0
  border-bottom: 1px solid $gray-lighter

a
  color: $blue
  text-decoration: none

  &:hover 
    color: darken($blue, 20%)

h1, h2
  line-height: $line-height-headings

h3, h4
  line-height: $line-height-base

h1, h2, h3
  color: black

h1
  font-size: $font-size-h1

h2
  margin-bottom: 40px
  font-size: $font-size-h2

h3
  font-size: $font-size-h3

h4 
  font-size: $font-size-h4
  text-transform: uppercase
  color: $gray-light

h3 a
  float: right
  display: inline-block
  margin: 0 5px
  font-size: .6em
  text-transform: none

.container
  margin: 0 auto 100px

.cf:before,
.cf:after
  content: " "
  display: table

.cf:after
  clear: both

.content section
  padding-bottom: 30px
  border-bottom: 1px solid $gray-lighter

  &:last-of-type
    border: none

/* Colors */

.colors

  ul 
    color: $gray-light
    font-size: .7em
    text-transform: uppercase
    margin-bottom: 10px

  .color
    height: 60px
    width: 100%

  .blue1
    background: $blue-saturated-darker

  .blue2
    background: $blue-saturated-dark

  .blue3
    background: $blue-saturated

  .blue4
    background: $blue-saturated-light

  .blue5
    background: $blue-saturated-lighter

  .blue6
    background: $blue

  .blue7
    background: $blue-light

  .blue8
    background: $blue-lighter

  .red1
    background: $red

  .orange1
    background: $orange

  .pink1
    background: $pink

  .pink2
    background: $pink-light

  .pink3
    background: $pink-lighter

  .green1
    background: $green

  .green2
    background: $green-light

  .green3
    background: $green-lighter

  .gray1
    background: $gray-dark

  .gray2
    background: $gray

  .gray3
    background: $gray-light

  .gray4
    background: $gray-lighter

/* Typography */

.typography

  .samples
    margin: 20px 0
    background: $gray-lighter
    border-radius: 3px
    padding: 30px

    h1, h2, h3, h4, p
      margin: 0 0 10px 0

    p.small
      margin: 0
      font-size: $font-size-small

/* Buttons */

.buttons

  .button
    margin-right: 10px


@media screen and (min-width: 768px)

  .container
    width: 60%

  .colors 
    li
      width: 10%

      &:not(:first-child)
        margin-left: 20px

@media screen and (max-width: 767px)

  .container
    width: 90%

  .colors li
    width: 100%
    margin: 0 0 10px 0