// Messages

.message
  padding: 10px 15px
  position: relative
  background: $gray-lighter
  color: $gray

  a
    font-weight: $font-weight-bold
    color: $gray-dark

    &:hover
      color: darken($gray-dark, 60%)

  p:last-of-type
    margin: 0

  .ss-icon.ss-delete
    display: block
    position: absolute
    top: 50%
    right: 15px
    margin-top: -7px
    cursor: pointer

  &.alert
    background: $red-lighter
    color: $red

    a
      color: darken($red, 20%)

      &:hover
        color: darken($red, 40%)

    .ss-delete
      color: $red-light

      &:hover
        color: $red

  &.success
    background: $green-lighter
    color: $green

    .ss-delete
      color: $green-light

      &:hover
        color: $green

    a
      color: darken($green, 20%)

      &:hover
        color: darken($green, 40%)

  &.has-icon 
    padding: 10px 35px 10px 15px

  &.full-width
    text-align: center

    &.has-icon
      padding: 10px 35px

