// Messages

.message
  padding: 10px 15px
  position: relative
  background: $gray-lighter
  color: $gray

  &:after
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none

  &.above, &.below

    &:after
      border-color: rgba(136, 183, 213, 0)
      border-width: 5px
      left: 50%
      margin-left: -5px

  &.above

    &:after
      border-bottom-color: $gray-lighter
      bottom: 100%

    &.alert
      &:after
        border-bottom-color: $red-lighter

    &.success
      &:after
        border-bottom-color: $green-lighter

  &.below

    &:after
      border-top-color: $gray-lighter
      top: 100%

    &.alert
      &:after
        border-top-color: $red-lighter

    &.success
      &:after
        border-top-color: $green-lighter



  a
    font-weight: $font-weight-bold
    color: $gray-dark

    &:hover
      color: darken($gray-dark, 60%)

  p:last-of-type
    margin: 0

  .ss-icon.ss-delete
    display: block
    position: absolute
    top: 50%
    right: 15px
    margin-top: -7px
    cursor: pointer

  &.alert
    background: $red-lighter
    color: $red

    a
      color: darken($red, 20%)

      &:hover
        color: darken($red, 40%)

    .ss-delete
      color: $red-light

      &:hover
        color: $red

  &.success
    background: $green-lighter
    color: $green

    .ss-delete
      color: $green-light

      &:hover
        color: $green

    a
      color: darken($green, 20%)

      &:hover
        color: darken($green, 40%)

  &.has-icon 
    padding: 10px 35px 10px 15px

  &.full-width
    text-align: center

    &.has-icon
      padding: 10px 35px

