// Modals

.modal
  position: absolute
  top: 50%
  left: 50%
  margin-left: -15%
  borderbox()
  border-radius: 3px
  z-index: 20
  width: 30%
  min-height: 200px
  background: white

  &.no-head
    padding: 20px

  .ss-delete
    display: block
    position: absolute
    top: 15px
    right: 15px
    font-size: $font-size-small
    opacity: .3

    &:hover
      opacity: 1

// Overlay

.overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10
  box-shadow: inset 0 0 100px rgba(0,0,0,.7)
  background: rgba(0,0,0,.4)