// Navigation

nav ul
  margin: 0

  li
    list-style-type: none

  li, a
    display: inline-block

// Top Nav

.top-nav
  width: 100%
  height: 40px
  line-height: 40px
  margin-bottom: 30px

  > li:not(:first-child)
    border-left: 1px solid $gray-lighter

  a
    padding: 0 15px
    font-weight: $font-weight-bold

    &:hover, &.active
      background: lighten($blue-lighter, 60%)

  .has-dropdown
    position: relative
    
    a
      padding-right: 35px

    &:hover .dropdown
      display: block

    .ss-icon
      position: absolute
      right: 15px
      top: 2px
      font-size: $font-size-smaller
      color: $blue-light

    .dropdown
      display: none
      background: white
      position: absolute
      top: 100%
      left: 0
      box-shadow: 0 3px 10px lighten($gray-lighter, 50%)
      z-index: 10

      li
        display: block
        
        &:not(:last-child)
          border-bottom: 1px solid $gray-lighter

  &.dark
    background: $blue-saturated

    li:not(:first-child)
      border-left: 1px solid $blue-saturated-light

    a
      color: $blue-saturated-lighter

      &:hover, &.active
        background: $blue-saturated-light
        color: lighten($blue-saturated-lighter, 40%)

    .has-dropdown

      .dropdown
        background: $blue-saturated
        box-shadow: none

        li
          border-bottom: 1px solid $blue-saturated-light

      .ss-icon
        color: $blue-saturated-lighter

// Breadcrumbs

.breadcrumbs
  border: 1px solid $gray-lighter
  borderbox()
  padding: 8px 0
  border-radius: 3px
  box-shadow: inset 0 -1px 2px lighten($gray-lighter, 50%)

  li:not(:first-child)
    position: relative

    &:after
      content: ''
      position: absolute
      right: 100%
      top: 0
      height: 100%
      width: 1px
      background: $gray-lighter
      -webkit-transform: rotate(15deg)

  a
    padding: 0 10px
    font-size: $font-size-small

    &.current
      font-weight: $font-weight-bold
      color: $gray

    &.unavailable
      color: $gray-light

// Pagination

.pagination

  a
    padding: 3px 8px
    color: $gray-light
    font-size: $font-size-small

    &:hover
      background: $gray-lighter
      color: $gray

    &.active
      background: $blue-lighter
      color: $blue

    &.active
      font-weight: $font-weight-bold

    &.ss-icon
      font-size: 8px

    &.unavailable
      cursor: auto


