// Variables

// Font families

$font-family-gotham = 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif
$font-family-helvetica = 'Helvetica Neue', Helvetica, Arial, sans-serif

// Font sizes

$font-size-large = 16px
$font-size-base = 14px
$font-size-small = 12px
$font-size-smaller = 10px

$font-size-h1 = 30px
$font-size-h2 = 24px
$font-size-h3 = 18px
$font-size-h4 = 14px

$line-height-base = 18px
$line-height-headings = 26px

$font-weight-bold = 800