@import 'yeticss'

html,
body
  min-height: 100%

body
  border-style: solid
  border-color: lighten($gray-lighter, 50%)

//- Code Highlighting

pre
  color: black
  background: lighten($gray-lighter, 60%)

code
  color: black
  background: lighten($gray-lighter, 60%)

//- Header

header
  padding-bottom: $ui-padding-extra-spaced
  border-bottom: 1px solid lighten($gray-lighter, 50%)
  
  h1
    margin-bottom: 0

  p
    font-size: $font-large
  
  .button
    margin: $space 0

//- Footer

footer[role='contentinfo']
  padding: $ui-padding-extra-spaced 0
  border-top: 1px solid lighten($gray-lighter, 50%)
  color: $gray
  font-size: $font-medium
  text-align: center

  li:not(:last-of-type)
    &:after
      content: '•'
      margin: 0 5px 0 10px

  p
    margin-bottom: 0

  .logo
    margin-top: $space
    display: inline-block
    width: 17px
    height: 20px
    background: $logo-ampersand-gray no-repeat 0 0

//- Sectioning

section
  padding: $ui-padding-extra-spaced 0

  &:not(:last-child)
    border-bottom: 1px solid lighten($gray-lighter, 50%)

//- Interface element samples

.sample
  border: $ui-border
  padding: $ui-padding-extra-spaced
  border-radius: 3px

  *:last-child
    margin-bottom: 0

  h1, h2, h3, h4, h5, h6
    margin-bottom: 10px

//- Avatars

.avatar
  margin: 0 $space $space 0

//- Buttons

.buttons 

  .button-group
    margin-bottom: 10px

    .button
      margin-right: 0

  .button
    margin-right: 5px

@media screen and (min-width: $breakpoint-tablet+1)
  
  body
    border-width: 10px

@media screen and (max-width: $breakpoint-tablet)

  body
    border-width: 5px

@media screen and (max-width: $breakpoint-smartphone)

  .button
    display: inline-block
    width: auto

  .logo
    margin: 30px auto
    display: block
    text-align: center

@media screen and (min-width: $breakpoint-smartphone+1)

  .logo
    margin: 20px
    display: inline-block